BODY {
    font-size : 8pt;
    background : #333333;
    font-family : Tahoma, Verdana, Arial;
    color : #CCCCCC;
}
	 
body {
    scrollbar-3dlight-color:#FFFFFF;
    scrollbar-arrow-color:#FF0000;
    scrollbar-base-color:#333333;
    scrollbar-darkshadow-color:#FFFFFF;
    scrollbar-face-color:#333333;
    scrollbar-highlight-color:#333333;
    scrollbar-shadow-color:#333333;
}

H3 {
	font-size : 14pt;
	font-weight : bold;
	text-align : left;
	text-align : middle;
	margin:0in;
	margin-bottom:0pt;
	color : rgb(255,255,255);
	background-position: left center;

}

TD, P, DIV, A {
	font-size : 8pt;
	margin:0in; 
	margin-bottom:1pt;
	line-height: 150%;
}

A {
	text-decoration: none;
}

TH {
    background : black;
    font-size : 8pt;
    text-align : center;
    font-weight : bold;	
}
     
#currentsong {
    font-weight : bold;
	color : #FF0000;
}

.odd {
    background : #999999;
}

.even {
    background : #333333;
}

.nowrap {
    white-space : nowrap;
}

A:visited {
   color : rgb(255,255,255); 
   text-decoration : none; 
}

A:link {
   color : rgb(255,255,255); 
   text-decoration : none; 
}

A:hover {
   color : rgb(255,255,255); 
   text-decoration : underline; 
}

A:active {
   color : rgb(255,255,255); 
   text-decoration : none; 
}

.linkbtn {
   font : 8pt Arial;
   font-weight: bold;
   color: rgb(255,255,255);
   background-color : #currentsong;
   border-width : no;
   border-style : none;
   padding : 0em 0.3em 0em 0.5em;
}

A.linkbtn:visited {
   color: rgb(255,255,255);
   text-decoration : none; 
}

A.linkbtn:link {
   color: rgb(255,255,255);
   text-decoration : none; 
}

A.linkbtn:active {
   color: rgb(255,255,255);
   text-decoration : none; 
}

A.linkbtn:hover {
   color: rgb(255,255,255);
   text-decoration : none; 
}

.stdclick {
   font : 8pt Arial; 
   font-weight: bold;
   color: #999999;
   background-color : #333333;  
}

.stdedit {
   font : 8pt Tahoma, Verdana; 
   color : white;
   background-color : #333333; 
   padding : 1px; 
   border-width : 1px; 
   border-style : solid; 
   border-color : #999999; 
   height : 18px; 
}
