
body
{
scrollbar-base-color: white;
scrollbar-track-color: white;
scrollbar-face-color: #666666;
scrollbar-highlight-color: white;
scrollbar-3dlight-color: white;
scrollbar-darkshadow-color: white;
scrollbar-shadow-color: white;
scrollbar-arrow-color: black;
}

a:hover, a:visited, a:active, a:link
{
text-decoration:none;
}

a:hover
{
color:#AAAA44;
}

BODY, TABLE, INPUT, SELECT, P, li, a
{
font-family: Maiandra GD, Arial, Helvetica, sans-serif;
}

.itemtext
{
font-size: 22px;
}

.numbertext
{
font-size: 10px;
}

.actiontext
{
font-size: 14px;
}

.pagebartext
{
font-size: 26px;
}

.playingitemtext
{
font-size: 22px;
color: #BB5544;
}

.normaltext
{
font-size: 20px;
}

.menutext
{
font-size: 25px;
color: #888888;
}

.headertext
{
font-size: 26px;
}

.statusbartext
{
font-size: 16px;
color: #FFFFFF;
}

.smalltext
{
font-size: 14px;
}

.pagebarheadertext
{
font-size: 16px;
}

.logotext
{font-size: 30;
}
