BODY {
    font-size : 9pt;
    background : Black;
    font-family : Verdana, Arial;
    color : White;
}

H3 {
	font-size : 20pt;
	font-weight : bold;	
	text-align : left;
	margin:0in; 
	margin-bottom:6pt;	
}


TD, P, DIV, A {
	font-size : 9pt;
	margin:0in; 
	margin-bottom:1pt;
	line-height: 150%;
}

A {
	text-decoration: none;
}

.small {
	font-size : 6pt;
}


TH {
    background : #CFCFCF;
    font-size : 10pt;
    text-align : center;
    font-weight : bold;	
}

.odd {
    background : #444444;
}

.even {
    background : #666666;
}

A:link, A:visited {
    color : Yellow;
}

A:hover, A.selected {
    text-decoration : underline;
}

div#homeMenu {
	background-color: #000000;
	position: relative;
	height: auto;
	width: auto;
	margin-left: 8px;
	margin-right: 8px;
	padding-bottom: 40px;
}

img {
	margin: 0px;
}
