# Ignore VSCode Perl Language Server settings
.vscode/perl-lang/*

# Ignore VSCode settings file
.vscode/settings.json

# Ignore custom OS module as this is installed in Dev Container and not part of this repo
Slim/Utils/OS/Custom.pm

