/* main layout */

* html, .scrollingPanel {
	overflow-x: hidden;
}

img#background {
	margin-top: 5px;
}

#footer_content { height: 40px; }

.inner_top, .inner_bottom {
	font-size: 0;
	padding: 0;
}

#leftpanel .inner_bottom_right { right: -1px; }
.inner_bottom_right, .inner_bottom_left { bottom: -1px; }

/* browsing & navigation */
.selectedItem .selector_bottomRight,
.selectedItem .selector_topLeft,
.mouseOver .selector_bottomRight,
.mouseOver .selector_topLeft {
	height: 18px;
	bottom: 0;
}

.itemWithCover {
	height: 44px;
}

.itemWithoutCover {
	height: 24px;
}

.thumbwrap {
	position: static;
}

.thumbwrap li, .thumbwrap {
	display: inline;
	height: 0;
	he\ight: auto;
}
