/* main layout */

* html, .scrollingPanel {
	overflow-x: hidden;
}

img#background {
	margin-top: 5px;
}

.singlePanel img#background {
	margin-top: 0;
}

#footer_content { height: 40px; }

.singlePanel #footer_content { height: 16px; }

.inner_top, .inner_bottom {
	font-size: 0;
	padding: 0;
}

#inner_header {
	height: 25px;
}

#mainpanel .inner_bottom_right,
#mainpanel .inner_bottom_left,
#leftpanel .inner_bottom_right,
#leftpanel .inner_bottom_left {
	bottom: -2px;
}

#rightpanel .inner_bottom_right,
#rightpanel .inner_bottom_left {
	bottom: 3px;
}

#infoTab {
	height: 25px;
}

#btnPlaylistToggleArtwork {
	bottom: 18px;
}

.browsedbControls input {
	padding: 0;
}

#linkedSongInfoItems {
	height: 155px;
}

/* browsing & navigation */
.selectedItem .selector_bottomRight,
.selectedItem .selector_topLeft,
.mouseOver .selector_bottomRight,
.mouseOver .selector_topLeft {
	height: 18px;
	bottom: 0;
}

.itemWithCover {
	height: 44px;
}

.itemWithoutCover {
	height: 24px;
}

.thumbwrap {
	position: static;
}

.thumbwrap li, .thumbwrap {
	display: inline;
	height: 0;
	he\ight: auto;
}

#ctrlUndock button { font-size: 0; }


/* fixes for the settings pages */
.x-layout-panel .x-tabs-body { height: 1px; }

.prefHelp {
	left: -20px;
	top: 3px;
}
 	 
.settingGroup .prefHead {
	left: -300px;
}