.thumbwrap li, .thumbwrap {
	display: inline;
	height: 0;
	he\ight: auto;
}

.songInfoTitle {
	float: left;
	width: 150px;
}

#songInfo div {
	padding-bottom: 5px;
}

#browsedbList, #playList {
	position: relative;
}
