.thumbwrap li, .thumbwrap {
	display: inline;
	height: 0;
	he\ight: auto;
}

.songInfoTitle {
	float: left;
	width: 150px;
}

.songInfoText {
	display: inline-block;
}

#songInfo div {
	padding-bottom: 5px;
}

#playList {
	position: relative;
}

#infoTab {
	height: 24px;
	padding-top: 0;
}

#playlistTab {
	height: 21px;
	padding-top: 0;
}

#playlistCommandSpacer {
	margin-top: 3px;
}

.x-tabs-item-body {
	height: 0;
}

.x-menu-list {
	overflow: hidden;
	min-width: 180px;
}

.settings .x-menu-list {
	overflow: auto;
}
