html {
	overflow: auto;
}

html, body, tr, tr, p, div, li, input, ul, b, a {
	font-family: sans-serif;
	color: #666666;
}

html, body, tr, tr, p, div, li, input, ul, .stdedit {
	font-size: 11px;
}

body {
	background: url(html/images/help/background.gif) repeat;
	position: relative;
	overflow: auto;
}

input.stdedit {
	padding: 2px;
}

select.stdedit {
	height: 18px;
}

.x-layout-panel-body {
	background-color: #637fa6;
}

#header, #footer {
	padding: 0 5px;
}

#header {
	background-image: none;
	padding-top: 5px;
}

#footer {
	background-image: none;
	padding-bottom: 5px;
}

#main {
	background: url(html/images/help/background.gif) repeat;
	margin: 0 5px;
	padding: 0 10px; 
}

#mainbody {
	position: relative;
	width: 100%;
	height: 500px;
}

#buttonbar {
	float: right;
	margin-right:10px;
}

.titlebox {
	background: url(html/images/help/title_background.gif) repeat;
}

#header .titlebox {
	margin: 5px 10px 0 10px;
}

#header .titlebox_bottom {
	margin-bottom: 5px;
}

#footer .titlebox_bottom {
	margin-bottom: 15px;
}

#footer .titlebox_content {
	padding: 0;
}

#settingsRegion {
	position: relative;
}

#settingsTabs {
	padding-bottom: 10px;
	margin: 0 10px;
}

#footer .titlebox {
	position: relative;
	top: 10px;
	margin: 0 10px;
}

.titlebox_content { background: url(html/images/help/title_background.gif) repeat; }
.titlebox_content div { color: white; }
.titlebox_top div { background: url(html/images/help/title_top_left.gif) no-repeat top left; }
.titlebox_top { background: url(html/images/help/title_top_right.gif) no-repeat top right; }
.titlebox_bottom div { background: url(html/images/help/title_bottom_left.gif) no-repeat bottom left; }
.titlebox_bottom { background: url(html/images/help/title_bottom_right.gif) no-repeat bottom right; }

.mouseOver .selector_topRight,
.selectedItem .selector_topRight {
	background: #9aacc4 url(html/images/help/selector_top_right.gif) no-repeat top right;
}

.mouseOver .selector_topLeft,
.selectedItem .selector_topLeft {
	background: transparent url(html/images/help/selector_top_left.gif) no-repeat top left;
}

.mouseOver .selector_bottomRight,
.selectedItem .selector_bottomRight {
	background: transparent url(html/images/help/selector_bottom_right.gif) no-repeat bottom right;
}

.mouseOver .selector_bottomLeft,
.selectedItem .selector_bottomLeft {
	background: transparent url(html/images/help/selector_bottom_left.gif) no-repeat bottom left;
}

.mouseOver .browseItemLink:hover,
.mouseOver .homeMenuItem a {
	color: white;
}

.selectedItem a {
	color: white;
	font-weight: bold;
}

.mainFrame, iframe {
	background: url(html/images/help/background.gif) repeat;
}

.mainFrame_top div {
	height: 5px;
	width: 5px;
	font-size: 0px;
	background: url(html/images/help/top_left.gif) no-repeat top left;
}

.mainFrame_top {
	height: 5px;
	font-size: 0px;
	background: url(html/images/help/top_right.gif) no-repeat top right;
}

.mainFrame_bottom div {
	height: 5px;
	width: 5px;
	font-size: 0px;
	background: url(html/images/help/bottom_left.gif) no-repeat bottom left;
}

.mainFrame_bottom {
	height: 5px;
	font-size: 0px;
	background: url(html/images/help/bottom_right.gif) no-repeat bottom right;
}

.settingSection {
	margin-bottom: 15px;
	margin-top: 15px;
}

.settingSection p {
	margin-bottom: 3px;
}

.settingGroup {
	position: relative;
	padding-left: 300px;
	margin-bottom: 10px;
}

.prefHelp {
	position: absolute;
	left: 280px;
	top: 0px;
}

.prefHead {
	font-weight: bold;
}

.settingGroup .prefHead {
	position: absolute;
	width: 285px;
	left: 0px;
}

.groupDesc, .prefDesc {
	margin-bottom: 5px;
}

.hiddenDesc {
	display: none;
}
