html, body, tr.odd, tr.even {
	padding: 0;
	margin: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
	color: white;
	font-size: 11px;
	font-family: sans-serif;
}

body, iframe { background: url(html/images/inner_background.gif) repeat; }
b, a { color: white; font-size: 11px; }
input { color: black; font-size: 11px; }
img { border: 0; }


/* browse pages */
.itemWithCover {
	min-height: 40px;
}

.browsedbListItem {
	position: relative;
	margin-left: 6px;
	padding-right: 6px;
	font-size: 11px;
	clear: left;
}

.browsedbControls, .playlistControls, .browsedbRightControls {
	position: absolute;
	top: -2px;
	right: 10px;
}

.thumbArtwork .browsedbControls {
	position: absolute;
	top: auto;
	bottom: 5px;
	right: 5px;
}

.thumbwrap {
	position: relative;
	display: inline-block;
	margin: 0px;
}

.thumbwrap li {
	display: -moz-inline-box; /* Mozilla */
	display: inline-block;  /* Op, Saf, IE \*/
	vertical-align: top;
}

div.thumbwrap {
	padding-right: 10px;
	padding-left: 10px;
}

.artworkText {
	margin-top: 2px;
	text-align: center;
}

#viewSelect {
	position: absolute;
	right: 15px;
	top: -3px;
}

.searchHeader {
	margin-top: 15px;
	margin-bottom: 5px;
}

.playlistCover, .browseCover {
	position: absolute;
	left: 10px;
	top: -5px;
}


#browsedbHeader {
	margin: 5px;
}

#browsedbList, #playList, #songInfo {
	margin: 5px;
	height: 400px;
	overflow: auto;
}

#searchMenu #browsedbList {
	overflow: visible;
}

.playlistSongDetail, .browseItemDetail {
	padding-left: 70px;
}

/* Home menu */
.homeMenuSection {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 15px;
}

.homeMenuSection_expanded .homeMenuItem {
	padding-left: 18px;
}

.homeMenuItem {
	margin-left: 6px;
	position: relative;
}

.homeMenuItem a,
#crumblist a,
.browseItemLink {
	text-decoration: none;
	font-size: 11px;
}

#livesearch {
	height: 12pt;
	width: 100px;
	font-size: 11px;
}

#searchForm {
	margin-left: 10px;
}

form#advSearchForm.resultsPage {
	height: 0px;
	display: none;
}

.titlebox_content #livesearch {
	position: absolute;
	right: 30px;
}

.currentSong a,
.currentSong .browsedbListItem,
.currentSong .playlistSongDetail,
.mouseOver .browseItemDetail,
.mouseOver .browseItemLink,
.mouseOver .browsedbListItem,
.mouseOver .homeMenuItem {
	color: #343434;
}


#sn_result_summary {
	color: yellow;
}

/* styles for the basic layout */
.scrollingPanel {
	overflow: auto;
	overflow-x: hidden;
}

#header {
	background: url(html/images/header_background.png) repeat;
}

#header_content {
	height: 40px;
	margin-left: 230px;
	padding-top: 11px;
	background: url(html/images/header_right.png) no-repeat top right;
	color: white;
	font-size: 14px;
}

#header_left {
	background: url(html/images/header_left.png) no-repeat top left;
	height: 38px;
	width: 219px;
	left: 0px;
	position: absolute;
}

#footer{
	background: url(html/images/header_background.png) repeat;
}

#footer_content {
	height: 38px;
	background: url(html/images/footer_right.png) no-repeat bottom right;
}

#helpLink img, #settingsLinks img {
	vertical-align: middle;
}

#helpLink {
	position: relative;
	top: 5px;
	left: 25px;
}

#settingsLinks {
	position: absolute;
	top: 5px;
	right: 25px;
	text-align: right;
}

#settingsLink {
	margin-left: 20px;
}

#helpLink, #settingsLink, #playerSettingsLink, .link {
	cursor: pointer;
}

#footer_left {
	background: url(html/images/footer_left.png) no-repeat 0 0;
	height: 38px;
	width: 17px;
	left: 0px;
	vertical-align: bottom;
	position: absolute;
}

#playerControlPanel {
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

#ctrlCurrentArt {
	height: 96px;
}

#ctrlCurrentTitle, .currentTrackInfo { 
	overflow: hidden;
}

#ctrlCurrentTitle { 
	font-size: 13px; 
	font-weight: bold; 
	padding-left: 6px; 
}

#ctrlCurrentTitle a { 
	text-decoration: none;
	font-size: 13px; 
	font-weight: bold; 
}

.currentTrackInfo { 
	text-decoration: none;
	font-size: 11px; 
	padding-left: 6px; 
}

.currentTrackInfo a { 
	text-decoration: none;
	font-size: 11px; 
}

.inner {
	background: url(html/images/inner_background.gif) repeat;
	margin: 10px;
	margin-top: 0px;
}

.inner_content {
	background: url(html/images/inner_background.gif) repeat;
	margin: 3px;
	height: 330px;
}

.inner_top div { 
	height: 10px;
	background: url(html/images/inner_top_left.gif) no-repeat top left;
}

.inner_top {
	height: 10px;
	background: url(html/images/inner_top_right.gif) no-repeat top right; 
}

.inner_bottom div { 
	height: 10px;
	background: url(html/images/inner_bottom_left.gif) no-repeat bottom left; 
}

.inner_bottom { 
	height: 10px;
	background: url(html/images/inner_bottom_right.gif) no-repeat bottom right; 
}

.titlebox {
	background: url(html/images/title_background.gif) repeat;
	margin: 5px;
	margin-top: 10px;
}

.titlebox_content {
	background: url(html/images/title_background.gif) repeat;
	margin-left: 10px;
	height: 15px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 120%;
	font-weight: bold;
}

.titlebox_top div { 
	height: 5px;
	background: url(html/images/title_top_left.gif) no-repeat top left;
}

.titlebox_top {
	height: 5px;
	background: url(html/images/title_top_right.gif) no-repeat top right; 
}

.titlebox_bottom div { 
	height: 5px;
	background: url(html/images/title_bottom_left.gif) no-repeat bottom left; 
}

.titlebox_bottom { 
	height: 5px;
	background: url(html/images/title_bottom_right.gif) no-repeat bottom right; 
}

.pagerbox {
	background: url(html/images/title_background.gif) repeat;
}

.pagerbox_content {
	margin-left: 5px;
	background: url(html/images/title_background.gif) repeat;
}

.pagerbox_top div { 
	height: 5px;
	background: url(html/images/title_top_left.gif) no-repeat top left;
}

.pagerbox_top {
	height: 5px;
	background: url(html/images/title_top_right.gif) no-repeat top right; 
}

.pagerbox_bottom div { 
	height: 5px;
	background: url(html/images/title_bottom_left.gif) no-repeat bottom left; 
}

.pagerbox_bottom { 
	height: 5px;
	background: url(html/images/title_bottom_right.gif) no-repeat bottom right; 
}

#pagebar {
	height: 12px;
	margin: 0;
}

#pagebar a:link, #pagebar a:visited,
#pagebar a, #pagebar span, #pagebar b {
	top: 0;
	text-decoration: none;
	padding: 0 2px;
	min-width: 9px;
	text-align: center;
	float: left;
}

#pagebar span, #pagebar b {
	background-color: #888888;
}

#pagebar a:hover, #pagebar span:hover, #pagebar span:hover b {
	background-color: #efefef;
	color: #343434;
}

#leftcontent {
	margin-left: 10px;
	margin-top: 10px;
}

#leftpanel, #rightpanel {
	vertical-align: top;
	width: 50%;
}

#edge_top_left, #edge_top_right,
#edge_bottom_left, #edge_bottom_right {
	position: absolute;
	height: 5px;
	width: 5px;
	margin: 0;
	padding: 0;
}


#edge_top_left {
	background: url(html/images/inner_top_left.gif) no-repeat top left;
	left: 0;
	top: 0;	
}

#edge_top_right {
	background: url(html/images/inner_top_right.gif) no-repeat top right;
	right: 0;
	top: 0;
}

#edge_bottom_left {
	background: url(html/images/inner_bottom_left.gif) no-repeat bottom left;
	left: 0;
	bottom: 0;
}

#edge_bottom_right {
	background: url(html/images/inner_bottom_right.gif) no-repeat bottom right;
	right: 0;
	bottom: 0;
}

#scanWarning, #library_stats {
	text-align: center;
	width: 100%;
	position: absolute; 
	right: 0px;
}

#progressInfo {
	cursor: pointer;
}

.infoTab {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.infoTab_content {
	background: url(html/images/infotab_background.gif) repeat;
	margin-left: 20px;
	margin-right: 20px;
	height: 28px;
	vertical-align: middle;
}

.infoTab_top div { 
	height: 5px;
	background: url(html/images/infotab_top_left.gif) no-repeat top left;
}

.infoTab_top {
	height: 5px;
	background: url(html/images/infotab_top_right.gif) no-repeat top right; 
}

#playlistTab {
	position: relative;
	bottom: 5px;
}

#playlistTab .infoTab_content {
	margin-left: 20px;
	margin-right: 20px;
}

#mainbody {
	position: relative;
	width: 100%;
	height: 500px;
}

#main {
	overflow: hidden;
	background: #23415e;
}

#crumblist {
	position: relative;
	margin: 10px;
	height: 20px;
}

#content {
	position: relative;
	width: 100%;
}

.folderselector {
	overflow: auto;
	height: 300px;
	width: 50%;
	border: 2px inset grey;
	background: white;
}

/* list selector */
.mouseOver, .currentSong {
	cursor: pointer;
	padding-top: 0;
	padding-bottom: 0;
}

.currentSong .selector_topRight,
.mouseOver .selector_topRight {
	background: #c0ccdc url(html/images/selector_top_right.gif) no-repeat top right;
} 

.currentSong .selector_topLeft,
.mouseOver .selector_topLeft { 
	padding-top: 7px;
	background: transparent url(html/images/selector_top_left.gif) no-repeat top left; 
}

.currentSong .selector_bottomRight,
.mouseOver .selector_bottomRight { 
	padding: 0px;
	background: transparent url(html/images/selector_bottom_right.gif) no-repeat bottom right; 
} 

.currentSong .selector_bottomLeft,
.mouseOver .selector_bottomLeft { 
	padding-bottom: 5px;
	background: transparent url(html/images/selector_bottom_left.gif) no-repeat bottom left; 
}

.selectorMarker {
	cursor: pointer;
	padding-top: 7px;
	padding-bottom: 5px;
	background: none;
}

.selector_topRight {
	background: none;
}
.selector_topLeft {
	background: none;
} 
.selector_bottomRight { 
	background: none;
} 
.selector_bottomLeft {
	background: none;
}

#loading {
	position: absolute;
	left: 40%;
	top: 40%;
	text-align: center;
	z-index: 20001;
	display: none;
}

#noJS {
	position: absolute;
	background: white;
	z-index: 20002;
}

#loading .loading-indicator,
#noJS {
	color:#003366;
}


/* Song information page */
#songInfo ul, #songInfoHeader {
	/* the list of song info items */
	padding: 0px;
	list-style: none;
	margin: 8px;
}

#songInfo li {
	padding-top: 5px;
	clear: left;
}

.songInfoTitle {
	float: left;
	padding: 0px;
	width: 25%;
}

.songInfoText {
	float: left;
	padding: 0px;
	width: 72%;
}

.albumListGallery .x-menu-item-icon {
    background-image: url(html/images/albumlist1.gif);
    background-repeat: no-repeat;
}

.albumXList .x-menu-item-icon {
    background-image: url(html/images/albumlist0.gif);
    background-repeat: no-repeat;
}

.albumList .x-menu-item-icon {
    background-image: url(html/images/albumlist2.gif);
    background-repeat: no-repeat;
}

.x-menu-item-checked .albumListGallery .x-menu-item-icon {
    background-image: url(html/images/albumlist1_on.gif);
    background-repeat: no-repeat;
}

.x-menu-item-checked .albumXList .x-menu-item-icon {
    background-image: url(html/images/albumlist0_on.gif);
    background-repeat: no-repeat;
}

.x-menu-item-checked .albumList .x-menu-item-icon {
    background-image: url(html/images/albumlist2_on.gif);
    background-repeat: no-repeat;
}


.menu-title{
	font: bold 11px sans-serif;
	color: #233D6D;
	display: block;
	padding: 3px;
	padding-left: 30px;
}