/* this stylesheet overwrites the default extjs stylesheet */

.x-tree-node-leaf .x-tree-node-alwayscollapsed {
	background-image:url(/html/ext/resources/images/default/tree/folder.gif);
}

.x-layout-container {
	background-color: white;
}

.x-layout-panel-body {
	background-color: #23415e;
}

.x-layout-panel {
	border: 0px none;
}

.x-form-field, .x-combo-list-item {
	font-size: 11px;
}


/* drop down menu */
.x-menu {
	background-image: url(html/images/slim-ext/menu.gif);
	border-color: #949494;
}

.x-menu-list {
	border: none;
}

.x-menu-item {
	color: #494949;
}

a.x-menu-item:hover {
	text-decoration: none;
}

.x-menu-item-active {
	border-color: #bfbfbf;
	background-color: #dedede;
}

.x-menu-sep {
	background-color: #494949;
}

.x-menu-item-checked .x-menu-group-item .x-menu-item-icon {
	background-image: url(html/images/slim-ext/group-checked.gif);
}

/* tabs and tab panel (settings) */
.x-layout-panel .x-tabs-wrap {
	background-image: none;
}

.x-tabs-strip .on .x-tabs-text {
	color: #666666;
}


/* buttons */
.x-btn {
	display: inline-table;
}

.x-btn-menu-arrow-wrap .x-btn-center button {
	height:22px;
	background-image: url(html/images/slim-ext/btn-arrow.gif);
}

/* standard buttons */
.x-btn-text, .x-btn button {
	color: #d1d1d1;
	font-weight: bold;
}

.x-btn-left {
	width: 5px;
	height: 22px;
	background: url(html/images/slim-ext/btn-generic.gif) no-repeat 0 0;
}

.x-btn-right {
	width: 5px;
	height: 22px;
	background: url(html/images/slim-ext/btn-generic.gif) no-repeat 0 -22px;
}

.x-btn-center {
	background: url(html/images/slim-ext/btn-generic.gif) repeat-x 0 -44px;
	vertical-align: middle;
	text-align: center;
	padding: 0 5px;
	cursor: pointer;
	white-space: nowrap;
}

.x-btn-over .x-btn-left, .x-btn-menu-active .x-btn-left { background-position:0 -66px; }
.x-btn-over .x-btn-right, .x-btn-menu-active .x-btn-right { background-position:0 -88px; }
.x-btn-over .x-btn-center, .x-btn-menu-active .x-btn-center { background-position:0 -110px; }
.x-btn-click .x-btn-left, .x-btn-pressed .x-btn-left  { background-position:0 -132px; }
.x-btn-click .x-btn-right, .x-btn-pressed .x-btn-right { background-position:0 -154px; }
.x-btn-click .x-btn-center, .x-btn-pressed .x-btn-center { background-position:0 -176px; }

/* small buttons */
.btn-small .x-btn-text, .btn-small .x-btn button {
	color: white;
	font-weight: normal;
	font-size: 90%
}

.btn-small .x-btn-left {
	width: 5px;
	height: 17px;
	background: url(html/images/slim-ext/btn-small.gif) no-repeat 0 0;
}

.btn-small .x-btn-right {
	width: 5px;
	height: 17px;
	background: url(html/images/slim-ext/btn-small.gif) no-repeat 0 -17px;
}

.btn-small .x-btn-center {
	background: url(html/images/slim-ext/btn-small.gif) repeat-x 0 -34px;
	padding: 0 3px;
}

.btn-small .x-btn-over .x-btn-left { background-position:0 -51px; }
.btn-small .x-btn-over .x-btn-right { background-position:0 -68px; }
.btn-small .x-btn-over .x-btn-center { background-position:0 -85px; }
.btn-small .x-btn-click .x-btn-left { background-position:0 -102px; }
.btn-small .x-btn-click .x-btn-right { background-position:0 -119px; }
.btn-small .x-btn-click .x-btn-center { background-position:0 -136px; }

.btn-small .x-btn-center .x-btn-text {
	background-repeat: no-repeat;
	background-position: 0pt;
	padding-left: 10px;
}

/* dialog */
.x-dlg .x-dlg-hd-left {
	background: url(html/images/slim-ext/hd-sprite.gif) no-repeat 0 -43px;
	padding-left: 15px;
	height: 43px;
}

.x-dlg .x-dlg-hd-right {
	background: url(html/images/slim-ext/hd-sprite.gif) no-repeat right 0;
	padding-right: 15px;
}

.x-dlg .x-dlg-hd {
	background: url(html/images/slim-ext/hd-sprite.gif) repeat-x right -86px;
	padding-top: 15px;
	padding-bottom: 13px;
}

.x-dlg .x-dlg-dlg-body {
	background-image: url(html/images/slim-ext/dlg-bg.gif);
	border: none;
}
