/* this stylesheet overwrites the default extjs stylesheet */

.x-tree-node-leaf .x-tree-node-alwayscollapsed {
	background-image:url(/html/ext/resources/images/default/tree/folder.gif);
}

.x-layout-container {
	background-color: transparent;
}

.x-layout-panel-body {
	background-color: transparent;
}

.x-layout-panel {
	border: 0px none;
	background-color: transparent;
}

.x-form-field, .x-combo-list-item {
	font-size: 11px;
}

.x-form-focus, textarea.x-form-focus {
	border-color: #008d89;
}

/* drop down menu */
.x-menu {
	background-image: url(html/images/slim-ext/menu.gif);
	border-color: #949494;
}

.x-menu-list {
	border: none;
}

.x-menu-item {
	color: #494949;
}

a.x-menu-item:hover {
	text-decoration: none;
}

.x-menu-item-active {
	border-color: #bfbfbf;
	background-color: #dedede;
}

.x-menu-sep {
	background-color: #494949;
}

.x-menu-item-checked .x-menu-group-item .x-menu-item-icon {
	background-image: url(html/images/slim-ext/group-checked.gif);
}

/* tabs and tab panel (settings) */
.x-tabs-body, .x-tabs-wrap {
	border-color: #666666;
}

.x-tabs-strip .on .x-tabs-inner {
	padding-bottom:3px;
}
.x-tabs-strip .x-tabs-inner {
	padding-bottom: 2px;
}

.x-layout-panel .x-tabs-wrap {
	background-image: none;
}

.x-tabs-strip .x-tabs-left,
.x-tabs-strip .x-tabs-right,
.x-tabs-strip .on .x-tabs-left,
.x-tabs-strip .on .x-tabs-right {
		background-image: url(html/images/slim-ext/tab-sprite.gif);
}

.x-tabs-strip .x-tabs-text {
	font-family: sans-serif;
	font-weight: normal;
	padding-top: 2px;
}

.x-tabs-strip .x-tabs-text,
.x-tabs-strip .on .x-tabs-text {
	color: #dedede;
}


/* buttons */
.x-btn {
	display: inline-table;
}

.x-btn-menu-arrow-wrap .x-btn-center button {
	height: 19px;
	background-image: url(html/images/slim-ext/btn-arrow.gif);
}

/* standard buttons */
.x-btn-text, .x-btn button {
	color: #d1d1d1;
	font-weight: bold;
}

.x-btn-left {
	width: 5px;
	height: 19px;
	background: url(html/images/slim-ext/btn-generic.png) no-repeat 0 0;
}

.x-btn-right {
	width: 5px;
	height: 19px;
	background: url(html/images/slim-ext/btn-generic.png) no-repeat 0 -19px;
}

.x-btn-center {
	background: url(html/images/slim-ext/btn-generic.png) repeat-x 0 -38px;
	vertical-align: middle;
	text-align: center;
	padding: 0 5px;
	cursor: pointer;
	white-space: nowrap;
}

.x-btn-over .x-btn-left, .x-btn-menu-active .x-btn-left { background-position:0 -57px; }
.x-btn-over .x-btn-right, .x-btn-menu-active .x-btn-right { background-position:0 -76px; }
.x-btn-over .x-btn-center, .x-btn-menu-active .x-btn-center { background-position:0 -95px; }
.x-btn-click .x-btn-left, .x-btn-pressed .x-btn-left  { background-position:0 -114px; }
.x-btn-click .x-btn-right, .x-btn-pressed .x-btn-right { background-position:0 -133px; }
.x-btn-click .x-btn-center, .x-btn-pressed .x-btn-center { background-position:0 -152px; }

/* dialog */
.x-dlg .x-dlg-hd-left {
	background: url(html/images/slim-ext/hd-sprite.gif) no-repeat 0 0;
	padding-left: 14px;
	height: 41px;
}

.x-dlg .x-dlg-hd-right {
	background: url(html/images/slim-ext/hd-sprite.gif) no-repeat right -41px;
	padding-right: 14px;
}

.x-dlg .x-dlg-hd {
	background: url(html/images/slim-ext/hd-sprite.gif) repeat-x right -82px;
	padding-top: 16px;
	padding-bottom: 9px;
	font-size: 110%;
}

.x-dlg .x-dlg-dlg-body {
	background-image: url(html/images/slim-ext/dlg-bg.gif);
	border: none;
	padding: 0 8px 8px 8px;
}

.x-dlg .x-dlg-bd, .x-dlg .x-dlg-ft {
	padding: 5px;
	background-color: white;
}

.x-dlg .x-dlg-close {
	background-image: none;
}

.x-dlg div.x-resizable-handle-southeast {
	bottom: 8px;
	right: 8px;
	background-image: url(html/images/slim-ext/se-handle.gif);
	height: 7px;
	width: 7px;
}


/* tool tips */
.x-tip .x-tip-top, .x-tip .x-tip-top-left, .x-tip .x-tip-top-right, 
.x-tip .x-tip-ft, .x-tip .x-tip-ft-left, .x-tip .x-tip-ft-right,
.x-tip .x-tip-bd-left, .x-tip .x-tip-bd-right{
	background-image: url(html/images/slim-ext/tip-sprite.gif);
}
