body, table, input, select, textarea, select, p, li {
	color: #333;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.exlisting, p, ol, ul, dl, dd, td, .stdclick, .stdedit, .exboldlisting, th, h5 {
	color: #666;
}

a {
	color: #333;
	text-decoration: none;
}

a:active {
	color: #555;
}

a:hover {
	text-decoration: underline;
}

.statusarea {
	color: #fff;
}

.exnowplaying, .exboldnowplaying, .textfield, pre, code {
	color: #111;
}

.exboldnowplaying, .exboldlisting, th, h3, h4, h5 {
	font-weight: bold;
}

.attributeBold, #playingStatus, #currentPlaylistLabel, #currentPlaylistCommands, .pagebar, .valueBold, .valueSelected, .bar {
	color: #000000;
	font-weight: bold;
	font-style: normal;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 9px;
	font-stretch: ultra-condensed;
	text-decoration: none;
	text-transform: uppercase;
}

.attributeBold, #playingStatus, #currentPlaylistLabel, #currentPlaylistCommands {
	margin-left: 0px;
	display: inline;
	white-space: nowrap;
}

#currentPlaylistLabel, #currentPlaylistCommands {
	position: relative;
	left: 9px;
}

.homeMenuHeader, #playingStatus, #currentPlaylistLabel {
	color: #737373;
}

.valueBold, .valueSelected, .bar {
	color: #c5c5c5;
	padding-right: 2.5px;
	display: inline;
	white-space: nowrap;
}

.valueSelected {
	color: #ff7f00;
}

.bar {
	font-weight: normal;
}

.largeAttribute {
	color: #c5c5c5;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
	display: inline;
	white-space: nowrap;
	font-size: 17px;
	position: absolute;
	left: 4px;
	width: 40px;
}

pre, code, h3 {
	font-size: 11px;
}

.textfield {
	line-height: 0px;
	background-color: #f3f3f3;
}

table, td, tr, form {
	padding: 0px;
	margin: 0px;
	vertical-align: top; 
	text-align: left;
}

.lightgrey, .odd {
	background-color: #ececec;
}

.medgrey {
	background-color: #c5c5c5;
}

.darkgrey {
	background-color: #333333;
}

.dmedgrey {
	background-color: #737373;
}

.greyline {
	background-color: #9D9D9D;
}

.odd {
}

.even {
	background-color: #ffffff;
}

img {
	border-style: none;
}

.nowrap {
	white-space: nowrap;
}

.PrefExtValue {
	width: 200px;
}

div#topGraphicBox {
	background: url(html/images/topbar.gif) repeat-x top left;
	width: 100%;
}

div#player_logo  {
	position: absolute;
	left: 5px;
	top: -1px;
}  

div#sdi_logo {
	position: absolute;
	left: 6px;
	top: 0px;
}

div#topGraphicMenu1 {
	background-color: #737373;
	position: relative;
	top: 36px;
	height: 60px;
	width: auto;
	margin-left: 8px;
	margin-right: 8px;
	border-bottom: 1px #9D9D9D solid;
}

div#topGraphicMenu2 {
	background-color: #737373;
	position: relative;
	top: 36px;
	height: 19px;
	width: auto;
	margin-right: 8px;
	margin-left: 8px;
}

div#topGraphicMenu3 {
	background-color: #c5c5c5;
	position: relative;
	top: 36px;
	height: 44px;
	width: auto;
	margin-right: 8px;
	margin-left: 8px;
}

div#topGraphicMenu1 .largeAttribute {
	position: absolute;
	top: 5px;
	left: 7px;
}

div#topGraphicBox img {
	margin-top: 10px;
	margin-left: 10px;
}

div#topGraphicBox #playerChooser {
	position: absolute;
	float: left;
	right: 20px;
	top: 10px;
}

div#topGraphicMenu1 #powerButtons {
	position: absolute;
	right: 10px;
	top: 20px;
	white-space: nowrap;
}

div#topGraphicMenu1 #transportButtons {
	left: 10px;
	position: absolute;
	top: 40px;
	white-space: nowrap;
}

div#topGraphicMenu1 #volumeButtons {
	position: absolute;
	right: 10px;
	top: 40px;
	white-space: nowrap;
}

div#topGraphicMenu2 #repeatButtons {
	position: absolute;
	left: 5px;
	top: 3px;
	white-space: nowrap;
}

div#topGraphicMenu2 #shuffleButtons {
	position: absolute;
	right: 10px;
	top: 3px;
	white-space: nowrap;
}

div#topGraphicMenu3 #playingStatus {
	position: absolute;
	left: 5px;
	top: 5px;
}

div#topGraphicMenu3 #playingSong {
	position: absolute;
	left: 14px;
	top: 22px;
	color: #111;
	font-weight: bold;	
}

div#topGraphicMenu3 #statusMessage {
	position: absolute;
	left: 7px;
	top: 6px;
	color: #111;
}

div#topGraphicMenu3 #statusSongRemoveButton {
	position: absolute;
	right: 10px;
	top: 5px;
}

div#homeMenu {
	background-color: #ffffff;
	position: relative;
	height: auto;
	width: auto;
	margin-left: 8px;
	top: 41px;
	margin-right: 4px;
}

.homeMenuSection div {
	/* home menu list header */
	background-color: #ececec;
	height: 13px;
	margin-right: 4px;
	padding: 8px 6px 4px;
	font-weight: bold;
	font-size: 9px;
}

.homeMenuSection ul {
	/* the list of home menu items */
	background-color: #ffffff;
	padding: 0;
	margin: 8px 28px;
}

.browsedbListItem {
	position: relative;
	padding: 6px;
}

.currentListItem {
	position: relative;
	padding: 6px;
	border: 1px solid #888;
}

.browsedbControls {
	position: absolute;
	top: 0px;
	padding-top: 6px;
	right: 10px;
}

div#browsedbList {
	position: relative;
	width: auto;
	height: auto;
}

div#browsedbHeader {
	margin-left:0px;
}

.pagebar {
	width: 100%;
	clear: left;
	position: relative;
	margin-left:2px;
	margin-top:5px;
}

#pageHeaderInfo {
	margin-left:2px;
	float: left;
}

div#playList {
	background-color: #ffffff;
	position: relative;
	height: auto;
	width: auto;
	left: 4px;
	margin-left: 4px;
	margin-right: 4px;
}

.browsedbArtItem {
	position: relative;
	float:left;
	margin:0px;
	padding: 6px;
}

div#playList #browsedbHeader {
	position: relative;
	padding: 8 6 0 6;
}

.thumbnail {
	padding: 0px;
	text-align: center;
}

.artworkControls {
	padding: 0px;
}

.artworkControls img {
	margin-left: 5px;
	padding-top: 6px;
}
