html {
	overflow: hidden;
}

#playlist {
	overflow: visible;
}

#playlistblock {
	height: expression(document.documentElement.clientHeight - 270);
	overflow-y: auto;
	overflow-x: hidden;
}

#browseblock {
	width: expression(document.documentElement.clientWidth - 400);
	height: expression(document.documentElement.clientHeight - 103);
}

#homeblock {
	width: expression(document.documentElement.clientWidth - 400);
}
