/*******************\
 * Common elements *
\*******************/

p, td, ol, ul, h3, h4, body, select, input {
	font-size: 10px;
	font-family: verdana,tahoma,arial,helvetica,geneva,sans-serif;
	color: #ccc;
}

p {
	margin: 5px;
}

form, table {
	margin: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #ccc;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

a.active {
	font-weight: bold;
	color: white;
}

a:hover {
	text-decoration: underline;
}

b {
	font-weight: bold;
	color: white;
}

html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: black;
	margin: 0;
	padding: 0;
}

body.mainpage {
	overflow: hidden;
}

body.loading * .hideduringload {
	visibility: hidden;
}

hr {
	color: #999999;
	height: 1px
}	

li {
	margin: 4px;
}

strong {
	font-weight: bold;
	color: white;
}


#communicating {
	position: absolute;
	right: 0;
	top: 0;
	width: 2px;
	height: 28px;
}

#communicating.active {
	background: red;
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	margin: 0;
	padding: 0;
	z-index: 10; 
	width: 100%;
	height: 100%;
}

#loading p {
	color: white;
	font-size: 12pt;
	font-weight: bold;
	padding: 10px;
}

h2, h3 {
	font-weight: bold;
	font-size: 15pt;
	color: white;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

h4, h5 {
	font-weight: bold;
	font-size: 12pt;
	color: white;
	margin-bottom: 0;
	margin-left: 10px;
}

input, select {
	background: #ddd;
	color: #444;
}

#outerplaylistscrollbase, #outerbrowsescrollbase {
	position: absolute;
	top: 0;
}

/************\
 * Frameset *
\************/

#statusblock {
	position: absolute;
	width: 400px;
	height: 270px;
	top: 0;
	right: 0;
	background: black;
}

#playlistblock {
	position: absolute;
	top: 270px;
	right: 0;
	width: 400px;
	bottom: 0;
	margin: 0;
	padding: 0;
	background: black;
	overflow: auto;
}

#homeblock {
	position: absolute;
	background: #61676c;
	top: 0;
	left: 0;
	height: 103px;
	right: 400px;
	padding: 0;
	width: auto;
}

#homeinnerblock {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;	
}

#browseblock {
	position: absolute;
	top: 103px;
	right: 400px;
	left: 0;
	bottom: 0;
	height: auto;
	padding: 0;
	margin: 0;
}

#browseframe {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	background: black;
}

#helpframe, #radioframe {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

ul.browselike {
	margin: 0;
	padding: 0 0 0 10px;
}

ul.browselike li {
	list-style-image: url(html/images/play.this.gif);
	background: black;
	font-weight: bold;
	list-style-position: inside;
	margin: 3px;
}

/********\
 * Home *
\********/

#topmenu {
	font-size: 10px;
	border-right: 2px solid white;
	padding: 50px 5px 5px 5px;
	margin: 0;
	overflow: hidden;
}

#topmenu2 {
	background: #999;
	font-size: 10px;
	height: 18px;
	margin: 0;
	padding: 5px;
	border-right: 2px solid white;
	white-space: nowrap;
	overflow: hidden;
}

#topmenu2 a {
	font-weight: bold;
}

#toppwd {
	padding: 5px;
	margin: 0;
}

#toppwd a, #pwd a {
	font-weight: bold;
}

/**************************\
 * For status_header.html *
\**************************/

#logo {
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px;
}

#logo img {
	border: 0;
}

#chooserlist {
	position: absolute;
	top: 0;
	right: 0;
	margin: 4px;
	color: white;
}

#statusmain {
	background: black;
}

#nowplaying {
	border-top: 2px solid white;
	position: absolute;
	top: 28px;
	left: 0;
	height: 135px;
	width: 380px;
	margin: 0;
	padding: 10px;
	background: #61676c;
	color: white;
	z-index: 0;
}

#playtext {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 380px;
	height: 135px;
	margin: 0;
	padding: 0;
}

#playtext p {
	margin: 0;
}

#coverart {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 0;
	display: none;
}

p.label {
	font-size: 9px;
	color: #bbb;
	border-bottom: 1px solid #777;
	margin: 3px 0 3px 0 !important;
}

.songtitle {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	color: white;
}	

.artistname {
	margin: 0;
	font-size: 11px;
	font-weight: normal;
	color: white;
}

.track {
	font-size: 9px;
	color: silver;
	font-weight: normal;
}

#progress {
	position: absolute;
	left: 10px;
	top: 120px;
	overflow: visible;
	white-space: nowrap;
	border: 0;
}

#progressbar img {
	vertical-align: text-top;
	margin-top: 1px;
	width: 4px;
	height: 8px;
	border: 1px solid #61676c;
	background: #808080;
}

#progressbar img.active {
	background: #00cc00;
}

#controls {
        position: absolute;
        left: 0;
        top: 173px;
        width: 400px;
        height: 73px;
        margin: 0;
        padding: 0;
        background: #999;
}

#buttons {
	position: relative;
	font-size: 9px;
	margin: 6px;
	height: 42px;
}

#buttons a {
	position: absolute;
	display: block;
}

#playbutton {
	top: 0;
	left: 0;
	width: 42px;
	height: 43px;
	background: url(html/images/play.gif);
}

#playbutton.active {
	background: url(html/images/play.gif) 0 -43px no-repeat;
}

#stopbutton {
	top: 11px;
	left: 42px;
	width: 23px;
	height: 32px;
	background: url(html/images/stop.gif);
}

#stopbutton.active {
	background: url(html/images/stop.gif) 0 -32px no-repeat;
}

#prevbutton {
	top: 24px;
	left: 68px;
	width: 30px;
	height: 19px;
	background: url(html/images/prev.gif);
}

#nextbutton {
	top: 24px;
	left: 98px;
	width: 30px;
	height: 19px;
	background: url(html/images/next.gif);
}

#mutebutton {
	top: 24px;
	left: 128px;
	width: 30px;
	height: 19px;
	background: url(html/images/mute.gif);
}

#mutebutton.active {
	background: url(html/images/mute.gif) 0 -19px no-repeat;
}	

#repshuf {
	position: relative;
	width: 400px;
	height: 10px;
	background: url(html/images/modebutton-bkg.gif) 0 0 no-repeat;
	overflow: hidden;
}

#repshuf a {
	position: absolute;
	top: 0;
	height: 10px;
}

#repeat1 {
	background: url(html/images/modebutton.gif) 0 0 no-repeat;
	left: 45px;
	width: 26px;
}

#repeat1.active		{ background: url(html/images/modebutton.gif) 0 -10px no-repeat;	}
#repeat1:hover		{ background: url(html/images/modebutton.gif) 0 -20px no-repeat;	}
#repeat1.active:hover	{ background: url(html/images/modebutton.gif) 0 -30px no-repeat;	}

#repeat2 {
	left: 72px;
	width: 21px;
	background: url(html/images/modebutton.gif) -27px 0px no-repeat;
}

#repeat2.active		{ background: url(html/images/modebutton.gif) -27px -10px no-repeat;	}
#repeat2:hover		{ background: url(html/images/modebutton.gif) -27px -20px no-repeat;	}
#repeat2.active:hover	{ background: url(html/images/modebutton.gif) -27px -30px no-repeat;	}

#repeat0 {
	left: 94px;
	width: 22px;
	background: url(html/images/modebutton.gif) -49px 0px no-repeat;
}

#repeat0.active		{ background: url(html/images/modebutton.gif) -49px -10px no-repeat;	}
#repeat0:hover		{ background: url(html/images/modebutton.gif) -49px -20px no-repeat;	}
#repeat0.active:hover	{ background: url(html/images/modebutton.gif) -49px -30px no-repeat;	}

#shuf1 {
	left: 173px;
	width: 36px;
	background: url(html/images/modebutton.gif) -72px 0px no-repeat;
}

#shuf1.active		{ background: url(html/images/modebutton.gif) -72px -10px no-repeat;	}
#shuf1:hover		{ background: url(html/images/modebutton.gif) -72px -20px no-repeat;	}
#shuf1.active:hover	{ background: url(html/images/modebutton.gif) -72px -30px no-repeat;	}

#shuf2 {
	left: 210px;
	width: 44px;
	background: url(html/images/modebutton.gif) -109px 0px no-repeat;
}

#shuf2.active		{ background: url(html/images/modebutton.gif) -109px -10px no-repeat;	}
#shuf2:hover		{ background: url(html/images/modebutton.gif) -109px -20px no-repeat;	}
#shuf2.active:hover{ background: url(html/images/modebutton.gif) -109px -30px no-repeat;	}

#shuf0 {
	left: 255px;
	width: 22px;
	background: url(html/images/modebutton.gif) -49px 0px no-repeat;
}
#shuf0.active		{ background: url(html/images/modebutton.gif) -49px -10px no-repeat; }
#shuf0:hover		{ background: url(html/images/modebutton.gif) -49px -20px no-repeat; }
#shuf0.active:hover	{ background: url(html/images/modebutton.gif) -49px -30px no-repeat; }

#power1 {
	left: 332px;
	width: 19px;
	background: url(html/images/modebutton.gif) -154px 0px no-repeat;
}
#power1.active		{ background: url(html/images/modebutton.gif) -154px -10px no-repeat; }
#power1:hover		{ background: url(html/images/modebutton.gif) -154px -20px no-repeat; }
#power1.active:hover	{ background: url(html/images/modebutton.gif) -154px -30px no-repeat; }

#power0 {
	left: 353px;
	width: 22px;
	background: url(html/images/modebutton.gif) -49px 0px no-repeat;
}
#power0.active		{ background: url(html/images/modebutton.gif) -49px -10px no-repeat; }
#power0:hover		{ background: url(html/images/modebutton.gif) -49px -20px no-repeat; }
#power0.active:hover	{ background: url(html/images/modebutton.gif) -49px -30px no-repeat; }


.sel {
	font-weight: bold;
	color: #00ff00;
}

#volumeblock {
	position: absolute;
	left: 200px;
	top: 0;
	margin: 6px 0;
	padding: 9px 30px;
	height: 24px;
	border-left: 1px solid silver;
	font-size: 10px;
}

#volume img {
	width: 7px;
	background: #808080;
}

#volume img.active {
	background: #00cc00;
}

/*
#coverart {
	float: left;
	border-right: 10px solid #61676c;
	background: #61676c;
}
*/
/************\
 * Playlist *
\************/

#plsheader {
	position: absolute;
	left: 0;
	top: 246px;
	width: 390px;
	margin: 0;
	padding: 5px;
	background: #61676c;
}

#playlist {
	left: 0px;
	margin: 0 0 4px 0;
	padding: 0;
	font-weight: normal;
	overflow: auto;
}

#playlist li {
	position: relative;
	list-style: none outside;
	margin: 2px 4px 0 4px;
	padding: 0;
	vertical-align: top;
}

#playlist li div {
	padding: 0;
	margin: 0;
}

.playlistbuttons {
	position: absolute;
}

.playlistbuttons img {
	margin: 0;
	padding-right: 2px;
	padding-top: 1px;
	border: 0;
	cursor: pointer;
}

img.dragbutton {
	cursor: move;
}

#playlist li div.comboindex {
	position: absolute;
	left: 24px;
	top: 0;
	width: 21px;
	text-align: right;
	color: white;
}

#playlist li div.combolisting {
	display: inline;
	margin-left: 60px;
	color: #ccc;
}

#playlist li div.combolisting a {
	font-weight: bold;
}

#playlist li.active, #playlist li.active a {
	color: white;
}

/**********\
 * Browse *
\**********/

#pwd {
	padding: 5px;
	margin: 0;
	background: #61676c;
	display: none;
}

.pagebar {
	float: right;
}

.browselistbuttons {
	white-space: nowrap;
	width: auto;
}

.browselistbuttons img {
	cursor: pointer;
	border: 0;
	margin-right: 8px;
}

.browselisting {
	padding-left: 4px;
	color: #ccc;
}

.browselisting a {
	font-weight: bold;
}

.coverartcell {
	float: left;
	margin: 5px;
}

.coverartcell img {
        cursor: pointer;
}

/*************\
 * Song Info *
\*************/

#songinfotable {
	width: 100%;
	font-size: 13px;
}

#songinfotable tr td {
	font-size: 12px;
	color: white;
}

#songinfotable tr td a {
	color: white;
	font-weight: bold;
}

td.infotitlecol {
	padding-right: 5px;
	text-align: right;
	white-space: nowrap;
}

/* Setup */

.settingSection {
	position: relative;
	border-bottom:2px solid #bbb;
	padding: 5px;
}

.groupHead, .prefHead {
	font-weight: bold;
	color: white;
	padding-top: 2px;
}

