#outerplaylist {
	height: expression(document.documentElement.clientHeight - 270);
}

html, body {
	overflow: hidden;
}

#loading, #outerbrowse {
	height: expression(document.documentElement.clientHeight);
}

#volumeblock, #shufflebuttons {
	left: expression(document.documentElement.clientWidth / 4);
}

#statusheader, #playlist {
	width: expression(document.documentElement.clientWidth / 2);
}

#statusmain {
	width: expression(document.documentElement.clientWidth / 2 - 12);
}
