BODY {
    font-size : 8pt;
    background : #FFFFFF;
    font-family : Tahoma, Verdana, Arial;
    color : #000000;
}

H3 {
	font-size : 14pt;
	font-weight : bold;	
	text-align : left;
	margin:0in; 
	margin-bottom:6pt;	
}

TD, P, DIV, A {
	font-size : 8pt;
	margin:0in; 
	margin-bottom:1pt;
	line-height: 150%;
}

A {
	text-decoration: none;
}

TH {
    background : #FF0000;
    font-size : 8pt;
    text-align : center;
    font-weight : bold;	
}

.odd {
    background : #D6E7FF;
}

.even {
    background : #FFFFFF;
}

A:visited {
   color : rgb(71,104,149); 
   text-decoration : none; 
}

A:link {
   color : rgb(71,104,149); 
   text-decoration : none; 
}

A:hover {
   color : rgb(71,104,149); 
   text-decoration : underline; 
}

A:active {
   color : rgb(71,104,149); 
   text-decoration : none; 
}


.stdclick {
   font : 8pt Arial; 
   font-weight: bold;
   color: #FFFFFF;
   background-color : #0033CC;  
}

.stdedit {
   font : 8pt Tahoma, Verdana; 
   background-color : #ffffff; 
   padding : 1px; 
   border-width : 1px; 
   border-style : solid; 
   border-color : black; 
   height : 18px; 
}