
.formfield {
	BACKGROUND: #ddd; COLOR: #444
}
.menu1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #61676c; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: white; PADDING-TOP: 35px
}
.menu2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #999; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: white; PADDING-TOP: 5px
}
.masthead {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #333; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: white; PADDING-TOP: 5px; BORDER-BOTTOM: white 2px solid
}
.nowplaying {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #61676c; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: white; PADDING-TOP: 5px
}
.label {
	FONT-SIZE: 9px; MARGIN: 3px 0px; COLOR: #bbb; BORDER-BOTTOM: #777 1px solid
}
.songtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px
}
.artistname {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; COLOR: white
}
.track {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: silver
}
.controls {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #999; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: white; PADDING-TOP: 5px
}
.super {
	BORDER-TOP: #333 1px solid; BACKGROUND: #333333; MARGIN: 0px; COLOR: #ccc

}
.listing {
	BORDER-TOP: #333 1px solid; BACKGROUND: black; MARGIN: 0px; COLOR: #ccc
}
.listing2 {
	BORDER-TOP: #333 1px solid; BACKGROUND: black; MARGIN: 0px; COLOR: #ccc
}

.listingend {
	font-color: white; BORDER-BOTTOM: #333 1px solid; BACKGROUND: black; MARGIN: 0px; COLOR: #ccc
}
.listinghead {
	FONT-WEIGHT: bold; BACKGROUND: #333; COLOR: #999; BORDER-BOTTOM: #555 1px solid
}
.listingheadsp {
	FONT-WEIGHT: bold; BACKGROUND: #333; COLOR: #999; BORDER-BOTTOM: #555 1px 
}
.scrollvertical {
	
}






BODY {
    font-size : 8pt;
    background : #000000;
   
}
	 
H3 {
	font-size : 14pt;
	font-weight : bold;
	text-align : left;
	text-align : middle;
	margin:0in;
	margin-bottom:0pt;
	color : rgb(255,255,255);
	background-position: left center;

}

H4 {
color: white;
}
UL {
color: white;
}
OL {
color: white;
}
li {
color: white;
}
pre, code {
color: white;
}
TD, P, DIV, A {
	font-size : 8pt;
    COLOR: white;
	margin:0in; 
	margin-bottom:0pt;
    MARGIN: 0px;
	line-height: 15px;
    FONT-FAMILY: verdana,tahoma,arial,helvetica,geneva,sans-serif;
  
}

A {
	text-decoration: none;
}

TH {
    background : black;
    font-size : 8pt;
    text-align : center;
    font-weight : bold;
}
     
#currentsong {
	color : #FFFFFF;
}

.odd {
    font-size : 8pt;
    font-color : #999999;
    BORDER-TOP : #333333 1px solid;
    background : #000000;
    line-height: 0px; 
}

.even {
    font-size : 8pt;
    font-color : #999999;
    BORDER-TOP: #333333 1px solid;
    background : #000000;
    line-height: 0px
}

.nowrap {
    white-space : nowrap;
}

A:visited {
   color : #CCCCCC; 
   text-decoration : none; 
}

A:link {
   color : #CCCCCC; 
   text-decoration : none; 
}

A:hover {
   color : #CCCCCC; 
   text-decoration : underline; 
}

A:active {
   color : #CCCCCC; 
   text-decoration : none; 
}

.linkbtn {
   font : 8pt Arial;
   font-weight: bold;
   color: rgb(255,255,255);
   border-width : no;
   border-style : none;
   padding : 0em 0.3em 0em 0.5em;
}

A.linkbtn:visited {
   color: rgb(255,255,255);
   text-decoration : none; 
}

A.linkbtn:link {
   color: rgb(255,255,255);
   text-decoration : none; 
}

A.linkbtn:active {
   color: rgb(255,255,255);
   text-decoration : none; 
}

A.linkbtn:hover {
   color: rgb(255,255,255);
   text-decoration : none; 
}

.stdclick {
   font : 8pt Arial; 
   font-weight: bold;
   color: #999999;
   background-color : #333333;  
}

.stdedit {
   font : 8pt Tahoma, Verdana; 
   color : white;
   background-color : #333333; 
   padding : 1px; 
   border-width : 1px; 
   border-style : solid; 
   border-color : #999999; 
   height : 18px; 
}
