BODY {
    font-size : 9pt;
    background : #DEDEEF;
    font-family : Verdana, Arial;
    color : #656566;
}

H3 {
	font-size : 14pt;
	font-weight : bold;	
	text-align : left;
	margin:0in; 
	margin-bottom:6pt;	
}

TD, P, DIV, A {
	font-size : 9pt;
	margin:0in; 
	margin-bottom:1pt;
	line-height: 150%;
}

A {
	text-decoration: none;
}

TH {
    background : #C5C5F5;
    font-size : 10pt;
    text-align : center;
    font-weight : bold;	
}

.odd {
    background : #DEDEEF;
}

.even {
    background : #FFDEA5;
}

A:visited {
   color : rgb(77,77,117); 
   text-decoration : none; 
}

A:link {
   color : rgb(77,77,117); 
   text-decoration : none; 
}

A:hover {
   color : rgb(187,95,108); 
   text-decoration : underline; 
}

A:active {
   color : rgb(88,88,135); 
   text-decoration : none; 
}


.stdclick {
   font : 9pt Verdana; 
   font-weight: bold;
   color: #000000;
   background-color : #DFDFDF;  
}

.stdedit {
   font : 9pt Verdana; 
   background-color : #FEFCFC; 
   padding : 1px; 
   border-width : 1px; 
   border-style : solid; 
   border-color : black; 
   height : 18px; 
}
