/*******************\
 * Common elements *
\*******************/

body, table, input, select, p, li, .formfield, .button {
	font-size: 10px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #444;
}

body {
	behavior: url("html/csshover.htc"); 
}

.exlisting, p, ol, ul, dl, dd, td, .stdclick, .stdedit, .exboldlisting, th, h3, h4, h5 {
        color: #666;
}

body {
	background: white;
	margin: 0;
	padding: 0;
}

table, tr, td, form {
	margin: 0;
	padding: 0;
}

table.songinfotable tr td {
	padding: 2px 3px 3px;
}

table.songinfotable tr td.fc {
	white-space: nowrap;
}

body.mainpage {
	overflow: hidden;
}

strong {
	font-weight: bold;
	color: #666;
}

img {
	border-style: none;
}

pre, code, h3 {
        font-size: 11px;
}

pre, code {
	color: #111;
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	margin: 0;
	padding: 0;
	z-index: 10; 

	width: 100%;
	height: 100%;
}

#loading p {
	color: white;
	font-size: 12pt;
	font-weight: bold;
	padding: 10px;
	margin: 0;
}

b {
	font-weight: bold;
}

h2 {
	font-weight: bold;
	font-size: 15pt;
	color: black;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

h4, h5 {
	font-weight: bold;
}

ul {
	margin: 0;
}

ul.homelist {
	padding: 0 8px;
	list-style: none;
}

ul.homelist li {
	padding: 1px 0;
	color: #666;
}

hr {
	color: #999999;
	height: 1px
}	

a {
	text-decoration:none;
	color: black;
	cursor: pointer;
}

.screenshot {
	font-size: 11px;
	background-color: #000;
	color: #0fe;
	padding: 5px;
}

a:hover {
	text-decoration: underline;
}

a:active {
	outline: none;
}

.fakehover {
	text-decoration: underline;
}

.formfield {
	display: none;
}

.fakelink {
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
}

#outerplaylistscrollbase, #outerbrowsescrollbase {
	position: absolute;
	top: 0;
}

/************\
 * Frameset *
\************/

#statusheader {
	position: absolute;
	top: 0;
	height: 77px;
	left: 50%;
	right: 0px;
	background: #333;
}

#statusmain {
	position: absolute;
	top: 0px;
	left: 4px;
	right: 8px;
	height: 100px;
}

#controls {
        position: absolute;
        top: 37px;
        height: 79px;
	left: 0px;
	width: 100%;
        padding: 0;
        background: #737373;
}

#outerbrowse {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	padding: 0;
	margin: 0;
}

#browseframe {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	background: white;
}

/********\
 * Home *
\********/

#topmenu {
	font-size: 10px;
	padding: 35px 5px 5px 5px;
	height: 12px;
	margin: 0;
	border-right: 2px solid white;
	white-space: nowrap;
	overflow: hidden;
}

#topmenu a.activemode {
	font-weight: bold;
	color: white;
}

#topmenu2 {
	background: #999;
	font-size: 10px;
	height: 18px;
	margin: 0;
	padding: 5px;
	border-right: 2px solid white;
	white-space: nowrap;
	overflow: hidden;
}

#toppwd {
	padding: 5px;
	margin: 0;
}

#toppwd a, #pwd a {
	font-weight: bold;
	cursor: pointer;
}

/**************************\
 * For status_header.html *
\**************************/

#logo {
	position: absolute;
	top: 0;
	right: 0;
	margin: 9px 8px;
}

#logo img {
	border: 0;
}

#chooserlist {
	position: absolute;
	top: 0;
	right: 0;
	margin: 4px;
	color: white;
}

#nowplaying {
	position: absolute;
	top: 116px;
	left: 0;
	height: 44px;
	width: 100%; 
	margin: 0;
	padding: 0px;
	background: #c5c5c5;
	color: black;
	z-index: 0;
}

#playtext {
	color: black;
	position: absolute;
	top: 10px;
	left: 0px;
	width: 100%;
	height: 135px;
	margin: 0;
	padding: 0;
}

#coverart {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 0;
	display: none;
}

.label {
	font-size: 9px;
	color: #444;
	border-bottom: 1px solid #777;
	margin: 3px 0 3px 0;
}

.songtitle {
	margin: 0;
	font-size: 10px;
	color: black;
}	

.artistname {
	margin: 0;
	font-size: 11px;
	font-weight: normal;
	color: white;
}

.track {
	font-size: 9px;
	color: silver;
	font-weight: normal;
}

#progressBar {
	position: absolute;
	left: 10px;
	top: 120px;
	overflow: visible;
	white-space: nowrap;
}

#progressBar img {
	vertical-align: text-top;
	margin-top: 1px;
}

#musicplayerimage {
	position: absolute;
	left: 0px;
	top: 7px;
}

#buttons1 {
	position: absolute;
	left: 0px;
	top: 43px;
	font-size: 9px;
	height: 13px;
	width: 150px;
	background: url(html/images/nav_spacer.gif);
}

#buttons1 a {
	position: absolute;
	display: block;
}

#playbutton {
	top: 0;
	left: 38px;
	width: 35px;
	height: 13px;
	background: url(html/images/status/play.gif);
}

#playbutton.active {
	background: url(html/images/status/play.gif) 0 -13px no-repeat;
}

#pausebutton {
	top: 0;
	left: 74px;
	width: 43px;
	height: 13px;
	background: url(html/images/status/pause.gif);
}

#pausebutton.active {
	background: url(html/images/status/pause.gif) 0 -13px no-repeat;
}

#stopbutton {
	top: 0px;
	left: 118px;
	width: 36px;
	height: 13px;
	background: url(html/images/status/stop.gif);
}

#stopbutton.active {
	background: url(html/images/status/stop.gif) 0 -13px no-repeat;
}

#nextbutton {
	top: 0px;
	left: 0px;
	width: 37px;
	height: 13px;
	background: url(html/images/status/skip.gif);
}


/* REPEAT BUTTONS */

#repeatbuttons {
	position: absolute;
	left: 0px;
	top: 63px;
	height: 13px;
	width: 138px;
	background: url(html/images/nav_spacer.gif);
}

#repeatbuttons a {
	position: absolute;
	top: 0;
	height: 13px;
}

#repeatone {
	background: url(html/images/modebutton.gif) 0 0 no-repeat;
	top: 0px; 
	left: 79px;
	width: 30px;
}

#repeatone.active	{ background: url(html/images/modebutton.gif) 0 -13px no-repeat;	}

#repeatall {
	left: 110px;
	width: 28px;
	background: url(html/images/modebutton.gif) -30px 0px no-repeat;
}

#repeatall.active	{ background: url(html/images/modebutton.gif) -30px -13px no-repeat;	}

#repeatoff {
	left: 50px;
	width: 28px;
	background: url(html/images/modebutton.gif) -58px 0px no-repeat;
}

#repeatoff.active	{ background: url(html/images/modebutton.gif) -58px -13px no-repeat;	}

#shufflebuttons {
	position: absolute;
	left: 50%;
	top: 63px;
	margin-left: -30px;
	height: 13px;
	width: 184px;
	background: url(html/images/nav_spacer.gif) 0 0 repeat-x;
}

#shufflebuttons a {
	position: absolute;
	top: 0;
	height: 13px;
}

#shufnone { left: 52px; width: 28px;	background: url(html/images/modebutton.gif) -58px 0px no-repeat;	}
#shufnone.active	{		background: url(html/images/modebutton.gif) -58px -13px no-repeat;	}
#shufsongs { left: 81px; width: 51px;	background: url(html/images/modebutton.gif) -86px 0px no-repeat;	}
#shufsongs.active	{		background: url(html/images/modebutton.gif) -86px -13px no-repeat;	}
#shufalbums { left: 133px; width: 51px;	background: url(html/images/modebutton.gif) -137px 0px no-repeat;	}
#shufalbums.active	{		background: url(html/images/modebutton.gif) -137px -13px no-repeat;	}


.sel {
	font-weight: bold;
	color: #00ff00;
}

#volumeblock {
	position: absolute;
	margin-left: -30px;
	left: 50%;
	top: 43px;
	height: 13px;
	font-size: 10px;
	width: 203px;
	background: #999;
}

#volumeimage {
	position: absolute;
	top: 0;
	left: 52px;
}

#volume {
	position: absolute;
	top: 0px;
	left: 52px;
	width: 151px;
	height: 13px;
}

.volitem {
	position: absolute;
	top: 2px;
	width: 11px;
	height: 9px;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
/*
#coverart {
	float: left;
	border-right: 10px solid #61676c;
	background: #61676c;
}
*/
/************\
 * Playlist *
\************/

#plsheader {
	position: absolute;
	left: 0;
	top: 160px;
	margin: 5px 16px;
	padding: 0;
	height: 13px;
	color: black;
}

#outerplaylist {
	position: absolute;
	top: 184px;
	left: 50%;
	padding-right: 8px;
	right: 0;
	bottom: 0;
	margin-left: 4px; 
	overflow: auto;
}

#playlist {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	color: black;
	border-collapse: collapse;
	padding: 0;
}

.playlistitem {
	padding: 0 0 0 20px;
	margin: 0;
}

.playlistbuttons {
	white-space: nowrap;
	width: 63px;
	margin-right: 8px;
}

.playlistbuttons img {
	margin: 0;
	padding: 4px 4px;
	border: 0;
	cursor: pointer;
}

.playlistindex {
	width: 20px;
	height: 13px;
	text-align: right;
	padding-left: 5px;
	left: 0;
}

.currentsong td a.plstitle {
	color: #666;
	font-weight: bold;
}

/**********\
 * Browse *
\**********/

#pwd {
	padding: 5px;
	margin: 0;
	background: #61676c;
	display: none;
}

.pagebar {
	padding: 0;
	margin: 7px 0;
	height: 13px;
}

table {
	border-collapse: collapse;
}

#browsetable {
	width: 100%;
}

.odd, .odd td {
	background-color: #ececec;
}

.even, .even td {
	background-color: #ffffff;
}

.browselistbuttons {
	white-space: nowrap;
	width: 42px;
	margin: 0;
	position: absolute;
	right: 0px;
	padding: 0;
	top: 0px;
	height: 21px;
}

.browselistbuttons img {
	cursor: pointer;
	border: 0;
	padding: 0;
	vertical-align: text-top;
	margin: 4px;
}

.browselisting {
	padding-left: 4px;
	margin: 0;
	height: 21px;
	color: #666;
	position: relative;
	padding-right: 100px;
}

.browselisting a {
	cursor: pointer;
}

.coverartcell {
	float: left;
	margin: 5px;
}

.coverartcell img {
        cursor: pointer;
}

/********\
 * Home *
\********/

#pagehead1 {
	background: #333333;
	height: 67px;	
	padding: 10px 4px 0 8px;	
	width: expression(document.documentElement.clientWidth - 12);
	margin: 0;
}

#pagehead1 a {
	margin: 0 0 0 8px;
}

#pagehead1 p {	
	position: absolute;
	top: 37px;
	left: 8px;
	right: 4px;
	width: expression(document.documentElement.clientWidth - 12);
	background: #737373;
	padding: 7px 0 7px 0;	
	margin: 0;
	height: 26px;
}

#pagebody {
	margin: 0px 4px 0px 8px;	
}

#pagehead2 {
	background: #737373;
	height: 39px;
}

#pagehead2 p {
	margin: 0;
	height: 19px;
	border-bottom: 1px solid #9d9d9d;
}

#pagetitle {
	height: 34px;
	margin: 0;
	padding: 5px 8px;
	background-color: #c5c5c5;
}

#songcount {
	display: block;	
	margin-top: 9px;
}

.sectiontitle {
	margin: 5px 0px;
	padding: 5px 8px;
	background-color: #ececec;
}

/********\
 * Misc *
\********/

.listing {
	margin: 0;
	color: #ccc;
	
}

.listing a {
	cursor: pointer;
}

