a {
	color: #111;
	text-decoration:none;
}

a:active {
	color: #000;
}

a:hover {
	color: #111;
	text-decoration:underline;
}

pre, code, h3 {
	font-size: 11px;
}

.textfield {
	line-height: 0px;
	background-color: #f3f3f3;
}

.odd {
	padding: 4px;
}

.even {
	padding: 4px;
	background-color: #ffffff;
}

