#outerplaylist {
	height: expression(document.documentElement.clientHeight - 270);
}

html, body {
	overflow: hidden;
}

#loading {
	height: expression(document.documentElement.clientHeight);
}

#outerbrowse {
        height: expression(document.documentElement.clientHeight - 104);
        width: expression(document.documentElement.clientWidth - 400);
}

