BODY {
	font-size : 11px;
	background : #222222;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #e8e8e8;
	BORDER: 0px;
	margin: 0px;
}

H3 {
	font-size : 14pt;
	font-weight : bold;	
	text-align : left;
	margin: 4px 0 2px 0;
	padding: 4px 0 2px 0;
}

TD, P, A {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	margin:0px;
	padding: 0px;
	margin-bottom:1pt;
	line-height: 150%;
}

DIV {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	line-height: 150%;
	_height: 0%;
}

.small {
	font-size : 5pt;
}

HR {
	border : 0;
	border-bottom:2px solid #bbb;
}

TH {
	background : #666666;
	font-size : 12pt;
	text-align : center;
	font-weight : bold;	
}

A:link, A:visited {
	color : Yellow;
}

.linkbtn {
	font-size : 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #f3f3f3;
	background-color : rgb(200,200,200);
	border-width : thin;
	border-style : outset;
	padding : 0em 0.3em 0em 0.3em;
}

A.linkbtn:visited {
	color: Black;
	text-decoration : none; 
}

A.linkbtn:link {
	color: Black;
	text-decoration : none; 
}

.stdclick {
	font : 12px Arial; 
	color: Black;
	font-weight: bold;
	background-color : rgb(200,200,200);
	margin-bottom: 2px;
	margin-top: 2px;
}

.stdedit {
	font-family: Arial, Helvetica, sans-serif; 
	background-color : rgb(255,255,255); 
	padding : 1px;
	font-size:12px;
	background:#f3f3f3;
	margin-bottom: 2px;
	margin-top: 2px;
	color:#444;
	border-width : 1px; 
	border-style : inset; 
	border-color : Black; 
	height : 20px; 
}

.masthead
{
	margin:0px;
	padding: 5px 8px 5px 8px;
	background:#333;
	color:white;
	border-bottom:2px solid white;
}

#TopMenu1
{
	margin:0px;
	padding:2px 5px 2px 5px;
	background:#61676c;
	color:white;
}

.label
{
	color:#e8e8e8 ! important;
	border-bottom:2px solid #777;
	margin:2px 0 2px 0;
	font-size:10px ! important;
}

.label2
{
	color:black;
	margin:2px 0 2px 0;
	font-size:10px ! important;
}

.tan
{
	display: none;
}

#grayrefresh
{
	display: block;
}

#standardrefresh
{
	display: none;
}

#tanrefresh
{
	display: none;
}

.button, .valueSelected
{
	color:white! important;
}

.darkbutton, .valueBold
{
	color:#bbb ! important;
}

.songtitle
{
	margin:0px;
	color:#EE3823;
	font-size:12px;
	font-weight:bold;
	line-height: 100%;
}	

#TopMenu2 {
	top: -6px;
	padding: 0px;
	margin: 0px;
}

#TopMenu2 #playControls, #TopMenu2 #volumeControl {
	top: -3px;
}

#TopMenu3 {
	top: -10px;
}

#playlistStatus {
	top: -15px;
}

.listing, .listing2, .even, .odd
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #222222;
	color:#999;
	padding-left: 1px;
	border-top:solid 2px #333;
	border-bottom:solid 1px black;
}

.evenactive, .oddactive
{
	background-color: #40464a;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#999;
	padding-left: 1px;
	border-top:solid 2px #333;
	border-bottom:solid 1px black;
}

.listing A, .listing2 A, .odd A, .even A, .oddactive A, .evenactive A
{
	color : #c9c9c9! important;
	font-family: Arial, Helvetica, sans-serif;

}

.currentListItem
{
	background:#333;
	border-top:solid 1px #EE3823;
	border-bottom:solid 1px #EE3823;
	position: relative;
	padding: 0px;
	padding-right: 100px;
}

.listinghead
{
	background:#333;
	font-size: 11px;
	border-bottom:solid 1px #333;
	font-weight:bold;
	color:#999;
}

/* top of left frame*/
.menu1
{
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:3px 8px 3px 8px;
	background:#61676c;
	color:white;
}

/* top of right frame*/
DIV.playlistform,#TopMenu2
{
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:4px 2px 4px 2px;
	background:#999;
	color:white;
}
