H4
{
	font-size : 12pt;
	font-weight : bold;
	padding: 0 8 0 8;
}

IMG {
	vertical-alignment: bottom;
	align: bottom;
}

H5 {
	font-size : 12pt;
	font-weight : bold;	
	text-align : left;
	margin: 2 0 2 0;
	padding: 2 0 2 0;
}

TABLE,TBODY {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

DIV.coverart {
	overflow: hidden;
	float: left;
	margin: 0px;
	height: auto;
}

DIV.covertext {
	overflow: hidden;
}

A {
	text-decoration: none;
}

A:hover, A:selected {
	color : #EE3823;
}

A.linkbtn:active {
	color: #EE3823;
	text-decoration : none; 
}

A.linkbtn:hover {
	color: #EE3823;
	text-decoration : none; 
}

DIV.playlistform,DIV#TopMenu2 .stdclick {
	font : 9px Arial; 
	color: Yellow;
	margin: 2 3 2 3;
}

DIV.playlistform,DIV#TopMenu2 .stdedit {
	margin: 2 3 2 3;
}

div#statusMessage form{
	padding-top: 7px;
}

.faq
{
	padding: 0 8 0 8;
	margin: 0px;
	margin-top: 8px;
}

.artistname
{
	margin:0px;
	font-size: 11px;
	font-weight: normal;
	color: white;
	line-height: 100%;
}

.list,.playlist
{
	padding: 0 8 0 8;
	margin: 0px;
	margin-top: 8px;
	height: auto;
	width: auto;
}

div#playList {
	margin-top: 0px;
	padding-top: 0px;
}

.searchHeader {
	margin-top: 20px;
}

img {
	border-style: none;
}

div#statusMessage
{
	margin:0px;
	padding: 0 0 1 8;
	background: #999;
	color: white;
}

DIV.playlistform,DIV#TopMenu2 TABLE {
	border-collapse: collapse;
}

div#browsedbList {
	clear: left;
	width: auto;
	height: auto;
}

div#browsedbHeader {
	margin-left:0px;
}

.browsedbListItem {
	position: relative;
	padding: 0px;
	padding-right: 80px;
}

.browsedbControls,.playlistControls {
	right: 1px;
}

.browsedbControls img, .playlistControls img {
	vertical-align: middle;
	float: right;
	padding-top: 3px;
	margin: auto;
	padding-right: 2px;
}

.pagebar{
	width: 100%;
	clear: left;
	position: relative;
	margin-left:2px;
	margin-top:5px;
}

#pageHeaderInfo {
	margin-left: 2px;
	float: left;
}

.settingSection .groupHead {
	/* home menu list header */
	height: 13px;
	font-weight: bold;
	font-size: 12px;
}

.settingSection {
	position: relative;
	border-bottom:2px solid #bbb;
}

.prefHead {
	font-weight: bold;
}

.prefDesc,.prefHead {
	padding-bottom: 5px;
}

.songInfo {
	background: black;
}

.songInfo ul {
	/* the list of song info items */
	background-color: black;
}

.thumbnail {
	padding: 0px;
	text-align: center;
}

.artworkControls {
	padding: 0px;
	margin: 0px;
}


.artworkText {
	text-align: center;
	overflow: hidden;
	color: #999;
}

.artworkText A {
	color : white ! important;
}

.thumbwrap {
	display: inline-block;
	margin: 0px;
	padding-left: 4px;
	padding-right: 0px;
	padding-top: 10px;
}

.thumbwrap li {
	display: -moz-inline-box;  /* Moz */
	display: inline-block;  /* Op, Saf, IE \*/
	vertical-align: top;
	padding-right: 6px;
}

.thumbwrap a span {
	display: block;
	overflow: hidden;
}

.valueBold, .valueSelected, .darkbutton {
	color:#bbb ! important;
	font-weight: bold;
	padding-right: 1.25px;
	padding-left: 1.25px;
	display: inline;
	white-space: nowrap;
}

.bar {
	position: absolute;
	background-color: #B0B0B0;
	width: 1px;
	height: 85%;
}

.valueSelected, .button {
	color: red ! important;
}

.attributeBold {
	display: inline;
	font-weight: bold;
	color: black;
	padding-right: 4px;
}

BODY {
	font-size : 9px;
	background : Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : White;
	BORDER: 0px;
	margin: 0px;
}

H3 {
	font-size : 14px;
	font-weight : bold;
	text-align : left;
	margin:2 0 2 0;
	padding: 2 0 2 0;
}

TD, P, A {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	margin:0px;
	padding: 0px;
	margin-bottom:1pt;
	line-height: 150%;
}

DIV {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	margin:0in; 
	margin-bottom:1pt;
	line-height: 150%;
	_height: 0%;
}

.small {
	font-size : 6px;
}

HR {
	border : 0;
	border-bottom:2px solid #bbb;
}

TH {
	background : #CFCFCF;
	font-size : 10pt;
	text-align : center;
	font-weight : bold;	
}

A:link, A:visited {
	color : Yellow;
}

.linkbtn {
	font-size : 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #EE3823;
	background-color : Black;
	border-width : thin;
	border-style : outset;
	padding : 0em 0.3em 0em 0.5em;
}

A.linkbtn:visited {
	color: Yellow;
	text-decoration : none; 
}

A.linkbtn:link {
	color: Yellow;
	text-decoration : none; 
}

.stdclick {
	font : 9px Arial; 
	color: Yellow;
	background-color : rgb(25,25,25);
	margin-bottom: 2px;
	margin-top: 2px;
}

.stdedit {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color : rgb(255,255,255); 
	padding : 1px;
	margin-bottom: 2px;
	margin-top: 2px;
	font-size:9px;
	background:#ddd;
	color:#444;
	border-width : 1px; 
	border-style : inset; 
	border-color : black; 
	height : 18px; 
}

#mastHead {
	margin:0px;
	padding: 5 8 5 8;
	background:#333;
	color:white;
	height: 18px;
	border-bottom:2px solid white;
}

#menuHeader {
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-right: 8;
	background: #61676c;
	padding-left: 8;
	color:white;
	height: 26px;
}

#menuHeader FORM
{
	display:inline;
	height: 24px;
}

.progressBar
{
	position: absolute;
	left: 0px;
}

#TopMenu1
{
	margin:0px;
	padding: 0px;
	background:#61676c;
	color:white;
	position: absolute;
	width: 100%;
	top: 60px;
	left: 0px;
	right: 0px;
	padding-left: 8px;
	padding-right: 8px;
}

#TopMenu1 #coverart {
	padding: 5 5 5 0;
}

#TopMenu1 #nowplaying
{
	position: absolute;
	top: 0px;
	left: 115px;
}

#TopMenu1 .currentSongData
{
	white-space: nowrap;
}

#TopMenu1 A
{
	font-size:11px;
	padding: 0 0 0 0  ! important;
	margin: 0 0 0 0 ! important;
	line-height: 100% ! important;
}

#TopMenu2
{
	margin:0 auto;
	background:#999;
	padding: 4 8 4 8;
	color:white;
	position: absolute;
	top: 171px;
	right: 0px;
	width: 100%;
}

#TopMenu2 #playControls {
	float: left;
	position: relative;
	white-space: nowrap;
	text-align: center;
	border-right: 1px solid #B0B0B0;
	margin:0 auto;
	padding: 0 auto;
	width: 50%;
}
	
#TopMenu2 #playControls table {
	margin: 0 auto;
	text-align: left;
}

#TopMenu2 #volumeControl {
	white-space: nowrap;
	float: right;
	position: relative;
	white-space: nowrap;
	text-align: center;
	width: 49%;
}

#TopMenu2 #volumeControl .volwidth {
	margin: 0 auto;
	text-align: left;
	width: 190px;
}

#TopMenu3 {
	margin:0px;
	padding: 2 2 2 2;
	background:#61676c;
	position: absolute; 
	top: 222px; 
	right:0px; 
	width: 100%;
	text-align: center;
	margin:0 auto;
}

#TopMenu3 #repeatButtons {
	white-space: nowrap;
	float: left;
	text-align: center;
	margin:0 auto;
	position: relative;
	border-right: 1px solid #B0B0B0;
	width: 32%;
}

#TopMenu3 #shuffleButtons {
	white-space: nowrap;
	text-align: center;
	margin:0 auto;
	width: 41%
}

#TopMenu3 #powerButtons {
	white-space: nowrap;
	float: right;
	text-align: center;
	margin:0 auto;
	position: relative;
	border-left: 1px solid #B0B0B0;
	width: 27%;
}

#volumeBarText {
	position: relative;
	float: right;
	top: 31px;
	left: 0px;
}

#volumeBarText .attributeBold {
	position: relative;
	padding-right: 4px;;
}

.volumeBar,.volumeSpacer {
	position: relative;
	float: right;
	top: 5px;
	left: 0px;
}

.volumeBar,.volumeSpacer DIV {
	width: 4px;
	padding: 0px;
	position: relative;
	min-height: 1px; 
}

.volumeSpacer A {
	height: 37px;
	width: 3px;
}

.volfragment {
	height: 100%;
	display: block;
}

#playlistStatus {
	margin:0px;
	padding: 0 8 0 8;
	margin-top: 8px;
	color:white;
	height: 18px;
	width: 100%;
	position: absolute; top: 235px;
}

#playlistLinks {
	padding-right: 20px;
	position: relative;
}

#currentPlaylist,#playerlogo, #coverart, #browseForm, #SDlogo, #playerForm {
	float: left;
}

#playlistLinks, #playerlinks, #serverlinks, #searchForm {
	float: right;
}

.label
{
	color:white ! important;
	border-bottom:1px solid #777;
	margin:3 0 3 0;
}

.label2
{
	color:black;
	margin:3 0 3 0;
}

.tan {
	display:none;
}

#grayrefresh
{
	display: none;
}

#tanrefresh
{
	display: none;
}

#standardrefresh
{
	display: block;
}

.songtitle
{
	margin:0px;
	color:white;
	font-size:14px ! important;
	font-weight:bold;
	line-height: 100%;
}	

.listing, .listing2, .even, .odd 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:black;
	color:#999;
	padding-left: 1px;
	margin: 0px;
	border-top:solid 1px #333;
}

.listing A, .listing2 A, .odd A, .even A
{
	color : white ! important;
}

#currentListItem
{
	background:#333;
	border-top:solid 1px #EE3823;
	border-bottom:solid 1px #EE3823;
}

.listinghead
{
	background:#333;
	font-size: 10px;
	border-bottom:solid 1px #333;
	font-weight:bold;
	color:#999;
}

DIV.playlistform
{
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding:4 8 4 8;
	background:#999;
	color:white;
}

.artworkControls img {
	margin-left: 1px;
	padding-top: 2px;
}
