H4
{
	font-size : 12pt;
	font-weight : bold;
	padding: 0 8px 0 8px;
}

H5 {
	font-size : 12pt;
	font-weight : bold;	
	text-align : left;
	margin: 2px 0 2px 0;
	padding: 2px 0 2px 0;
}

TABLE,TBODY {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

DIV.coverart {
	overflow: hidden;
	float: left;
	margin: 0px;
	height: auto;
}

DIV.covertext {
	overflow: hidden;
}

A {
	text-decoration: none;
}

A:hover, A:active {
	color : #EE3823;
}

A.linkbtn:active {
	color: #EE3823;
	text-decoration : none; 
}

A.linkbtn:hover {
	color: #EE3823;
	text-decoration : none; 
}

DIV.playlistform,DIV#TopMenu2 .stdclick {
	font : 9px Arial; 
	color: Yellow;
	margin: 2px 3px 2px 3px;
}

DIV.playlistform,DIV#TopMenu2 .stdedit {
	margin: 2px 3px 2px 3px;
}

div#statusMessage form{
	padding-top: 7px;
}

.faq
{
	padding: 0 8px 0 8px;
	margin: 0px;
	margin-top: 8px;
}

.artistname
{
	margin:0px;
	font-size: 11px;
	font-weight: normal;
	color: white;
	line-height: 100%;
}

.homeMenu,.playlist
{
	padding: 0 8px 0 8px;
	margin: 0px;
	margin-top: 8px;
	height: auto;
	width: auto;
}

div#playList {
	margin-top: 0px;
	padding-top: 0px;
}

.searchHeader {
	margin-top: 20px;
}

img {
	border-style: none;
}

div#statusMessage
{
	margin:0px;
	padding: 0 0 1px 8px;
	background: #999;
	color: white;
}

DIV.playlistform,DIV#TopMenu2 TABLE {
	border-collapse: collapse;
}

div#browsedbList {
	clear: left;
	width: auto;
	height: auto;
}

#viewSelect
{
	float: right;
	padding-top: 0px;
}

div#browsedbHeader {
	margin-left:0px;
}

div#pwdlist {
	clear: left;
	float: left;
}

div#pagetitle {
	float: left;
}

.browsedbListItem {
	position: relative;
	padding: 0px;
	padding-right: 60px;
}

.playListItem {
	position: relative;
	padding: 0px;
	/* padding-right: 50px; */
	margin: 0px;
}


.browsedbControls,.playlistControls, .browsedbRightControls {
	position: absolute;
	top: 0px;
	right: 1px;
	padding: 0px;
	margin: 0px;
	float: right;
	z-index: 100;
	opacity:1;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
}

.playlistControls {
	background-color: #40464a;
	height: 13px;
}

.browsedbLeftControls a {
	vertical-align: middle;
}

.browsedbControls a, .playlistControls a, .browsedbRightControls a {
	vertical-align: middle;
	float: left;
	position: relative;
	padding-right: 2px;
	padding-top: 2px;
}

.browsedbControls img, .playlistControls img, .browsedbRightControls img {
	padding: 0px;
	margin: 0px;
}

.artworkImage {
	padding-top: 5px;
}

.artworkControls {
	padding: 0px;
}

.artworkControls img {
	margin-left: 2px;
	padding-top: 2px;
}

.artworkText {
	text-align: center;
	overflow: hidden;
	color: #999;
	display: none;
	padding-bottom: 5px;
}

.artworkText A {
	color : white ! important;
}

#showText {
	clear: right;
	float: right;
}

#hideText {
	display: none;
	clear: right;
	float: right;
}

.pageHeaderInfo {
	left: 0px;
	float: left;
	clear: left;
	margin-right: 2px;
	width: 97%;
}

.headerhr {
	clear: left;
}

.thumbwrap {
	display: inline-block;
	margin: 0px;
	padding-left: 4px;
	padding-right: 0px;
	padding-top: 10px;
}

.thumbwrap li {
	display: -moz-inline-box;  /* Moz */
	display: inline-block;  /* Op, Saf, IE \*/
	vertical-align: top;
	padding-right: 6px;
	margin: 0 auto;
	text-align: center;
}

.thumbwrap a span {
	display: block;
	overflow: hidden;
}

.pagebar{
	width: 100%;
	clear: left;
	position: relative;
	margin-left:2px;
	margin-top:5px;
}

.settingSection .groupHead {
	/* home menu list header */
	height: 13px;
	font-weight: bold;
	font-size: 12px;
}

.settingSection {
	position: relative;
	border-bottom:2px solid #bbb;
}

.prefHead {
	font-weight: bold;
	padding-top: 10px;
}

.prefDesc,.prefHead {
	padding-bottom: 5px;
}

.songInfo {
	background: black;
}

.songInfo ul {
	/* the list of song info items */
	background-color: black;
}

.songInfoText {
	width: 68%;
}

.thumbnail {
	padding: 0px;
	text-align: center;
}

.valueBold, .valueSelected, .darkbutton {
	color:#bbb ! important;
	font-weight: bold;
	padding-right: 1.25px;
	padding-left: 1.25px;
	display: inline;
	white-space: nowrap;
}

.bar {
	position: absolute;
	background-color: #B0B0B0;
	width: 1px;
	height: 85%;
}

.valueSelected, .button {
	color: red ! important;
}

.attributeBold {
	display: inline;
	font-weight: bold;
	color: black;
	padding-right: 4px;
}

BODY {
	font-size : 9px;
	background : Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : White;
	BORDER: 0px;
	margin: 0px;
}

H3 {
	font-size : 14px;
	font-weight : bold;
	text-align : left;
	margin:2px 0 2px 0;
	padding: 2px 0 2px 0;
}

TD, P, A {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	margin:0px;
	padding: 0px;
	margin-bottom:1pt;
	line-height: 150%;
}

DIV {
	line-height: 150%;
	_height: 0%;
}

.small {
	font-size : 6px;
}

HR {
	border : 0;
	border-bottom:2px solid #bbb;
	clear: left;
}

TH {
	background : #CFCFCF;
	font-size : 10pt;
	text-align : center;
	font-weight : bold;	
}

A:link, A:visited {
	color : Yellow;
}

.linkbtn {
	font-size : 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: yellow; /* #EE3823;*/
	background-color : Black;
	border-width : thin;
	border-style : outset;
	padding : 0px;
}

A.linkbtn:visited {
	color: Yellow;
	text-decoration : none; 
}

A.linkbtn:link {
	color: Yellow;
	text-decoration : none; 
}

.stdclick, input[type=submit], input[type=button], input[type=reset] {
	font : 9px Arial; 
	color: Yellow;
	background-color : rgb(25,25,25);
	margin-bottom: 2px;
	margin-top: 2px;
}

.stdedit, input[type=checkbox], input[type=text] {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color : rgb(255,255,255); 
	padding : 1px;
	margin-bottom: 2px;
	margin-top: 2px;
	font-size:9px;
	background:#ddd;
	color:#444;
	border-width : 1px; 
	border-style : inset; 
	border-color : black; 
	height : 18px; 
}

#mastHead {
	margin:0px;
	padding: 0px;
	background:#333;
	position: relative;
	top: 0px;
	color:white;
	height: 26px;
	border-bottom:2px solid white;
}

#mastHead #playerlogo, #mastHead #SDlogo {
	padding: 3px 8px 3px 8px;
}

#mastHead #waiting {
	display: inline; 
	float: left; 
	padding: 3px 8px 3px 8px;
}

#mastHead #playerlinks, #mastHead #serverlinks {
	padding: 5px 8px 5px 8px;
}

#menuHeader {
	margin:0px;
	padding: 0px;
	font-size: 10px;
	padding-right: 8px;
	background: #61676c;
	padding-left: 8px;
	position: relative;
	top: 0px;
	color:white;
	height: 26px;
}

#menuHeader #playerForm {
	position: absolute;
	top:0px;
}

#menuHeader FORM {
	display: inline;
	height: 22px;
}

#menuHeader SPAN {
	padding-top: 3px;
	position: relative;
	top: 4px;
	
}

.progressBarDiv
{
	position: relative;
	left: 0px;
	margin: 0px;
	padding: 0px;
	top: 0px;
	width: 100%;
}

.progressBarOverlay
{
	position: relative;
	left: 0px;
	margin: 0px;
	padding: 0px;
	top: -5px;
	right: 0px;
	width: 100%;
}

.progressBarOverlay .segment {
	position: relative;
	left: 0px;
	margin: 0px;
	padding: 0px;
	top: 0px;
	float: left;
	width: 5%;
}

#TopMenu1
{
	margin:0px;
	padding: 0px;
	background:#61676c;
	color:white;
	position: relative;
	display: block;
	top: -4px;
	left: 0px;
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;
	float: left;
}

#TopMenu1 #coverart {
	padding: 5px 5px 5px 0;
	height: 100px;
}

#TopMenu1 #nowplaying
{
	position: absolute;
	top: 0px;
	left: 115px;
	right: 8px;
}

#TopMenu1 #notplaying
{
	position: absolute;
	top: 0px;
	left: 115px;
	width: 100%;
}

#TopMenu1 .currentSongData
{
	white-space: nowrap;
}

#TopMenu1 A
{
	font-size:11px;
	padding: 0 0 0 0  ! important;
	margin: 0 0 0 0 ! important;
	line-height: 100% ! important;
}

#TopMenu1 .label
{
	color:white ! important;
	border-bottom:1px solid #777;
	margin:2px 0 2px 0;
}

#TopMenu1 #thissongnum, #TopMenu1 #songcount {
	font-weight: bold;
}

#TopMenu2
{
	margin:0 auto;
	background:#999;
	padding: 4px 8px 4px 8px;
	color:white;
	position: relative;
	top: -4px;
	width: 100%;
	float: left;
}

#TopMenu2 #playControls {
	float: left;
	position: relative;
	white-space: nowrap;
	text-align: center;
	border-right: 1px solid #B0B0B0;
	margin: 0 auto;
	width: 50%;
}
	
#TopMenu2 #playControls table {
	margin: 0 auto;
	text-align: left;
}

#TopMenu2 #volumeControl {
	white-space: nowrap;
	float: right;
	position: relative;
	white-space: nowrap;
	text-align: center;
	width: 49%;
}

#TopMenu2 #volumeControl .volwidth {
	margin: 0 auto;
	text-align: left;
	width: 190px;
}

#TopMenu3 {
	margin:0px;
	padding: 2px;
	background:#61676c;
	position: relative; 
	top: -4px; 
	right:0px; 
	width: 100%;
	text-align: center;
	margin:0 auto;
	float: left;
}

#TopMenu3 #repeatButtons {
	white-space: nowrap;
	float: left;
	text-align: center;
	margin:0 auto;
	position: relative;
	border-right: 1px solid #B0B0B0;
	width: 32%;
}

#TopMenu3 #shuffleButtons {
	white-space: nowrap;
	text-align: center;
	margin:0 auto;
	width: 41%
}

#TopMenu3 #powerButtons {
	white-space: nowrap;
	float: right;
	text-align: center;
	margin:0 auto;
	position: relative;
	border-left: 1px solid #B0B0B0;
	width: 27%;
}

#volumeBarText {
	position: relative;
	float: right;
	top: 31px;
	left: 0px;
}

#volumeBarText .attributeBold {
	position: relative;
	padding-right: 4px;;
}

.volumeBar,.volumeSpacer {
	position: relative;
	float: right;
	top: 5px;
	left: 0px;
}

.volumeBar,.volumeSpacer DIV {
	width: 4px;
	padding: 0px;
	position: relative;
	min-height: 1px; 
}

.volumeSpacer A {
	height: 37px;
	width: 3px;
}

.volfragment {
	height: 100%;
	display: block;
}

#playlistStatus {
	margin:0px;
	padding: 0 8px 0 8px;
	margin-top: 5px;
	color:white;
	height: 18px;
	width: 100%;
	position: relative; 
	top: -5px;
	float: left;
}

#playlistframe {
	margin:0px;
	padding: 0px;
	color:white;
	width: 100%;
	position: relative; 
	top: -5px;
	float: left;
	border: 0px;
	overflow:auto;
}

#playlistframe IFRAME {
	width: 100%;
	position: relative;
	background-color: black;
	top: 0px;
	float: left;
}

#playlistLinks {
	padding-right: 20px;
	position: relative;
}

#currentPlaylist, #deleteitem, #playerlogo, #coverart, #browseForm, #SDlogo, #playerForm {
	float: left;
}

#playlistLinks, #playerlinks, #serverlinks, #HeaderSearchForm {
	float: right;
}

.label2
{
	color:black;
	margin:3px 0 3px 0;
}

.tan {
	display:none;
}

#grayrefresh
{
	display: none;
}

#tanrefresh
{
	display: none;
}

#standardrefresh
{
	display: block;
}

.songtitle
{
	margin:0px;
	color:white;
	font-size:14px ! important;
	font-weight:bold;
	line-height: 100%;
}	

.listing, .listing2, .even, .odd 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:black;
	color:#999;
	padding-left: 1px;
	margin: 0px;
	border-top:solid 1px #333;
}

.evenactive, .oddactive
{
	background-color: #40464a;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#999;
	padding-left: 1px;
	margin: 0px;
	border-top:solid 1px #333;
}

.listing A, .listing2 A, .odd A, .even A, .oddactive A, .evenactive A
{
	color : white ! important;
}

.currentListItem
{
	background-color:#333;
	border-top:solid 1px #EE3823;
	border-bottom:solid 1px #EE3823;
	position: relative;
	padding: 0px;
	padding-right: 50px;
}

.listinghead
{
	background:#333;
	font-size: 10px;
	border-bottom:solid 1px #333;
	font-weight:bold;
	color:#999;
}

DIV.playlistform
{
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding:4px 8px 4px 8px;
	background:#999;
	color:white;
}

#playlist_draglist {
	padding: 0px;
	margin: 0px;
}

#playlist_draglist li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#playlist_draglist li .itemnumber {
	cursor: move;
}

#currentPlaylist {
	width: 33%;
}

#deleteitem {
	margin:0 auto;
	padding: 0px;
	color:white;
	height: 18px;
	width: 33%;
	position: relative; 
	text-align: center;
}

div#albumPopup {
	position: fixed;
	z-index: 99;
	top: 10%;
	left: 15%;
	width: 70%;
	max-height: 70%;
	background-color: black;
	color: white;
	padding: 5px;
	border: 1px solid white;
	overflow: auto;
}

div#closeAlbumPopup {
	position: relative;
	float: right;
}

div#albumBackground {
	position: fixed;
	z-index: 60;
	top: 0%;
	left: 0%;
	width: 100%;
	bottom: 0%;
	background-color: silver;
	opacity:.75;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
}

.descendinfo {
}

.descenditem {
	padding-left:14px;
}

.descendlinkbtn {
	background-image:url("html/images/b_descend.gif");
	background-repeat:no-repeat;
	cursor: pointer;
	padding: 0px 5px 1px 5px;
}

.waitlinkbtn {
	background-image:url("html/images/b_wait.gif");
	background-repeat:no-repeat;
	cursor: pointer;
	padding: 0px 5px 1px 5px;
}

.closelinkbtn {
	background-image:url("html/images//b_ascend.gif");
	background-repeat:no-repeat;
	cursor: pointer;
	padding: 0px 5px 1px 5px;
}
