BODY {
	font-size : 12px;
	background : #fcf2d4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #663300;
	BORDER: 0px;
	margin: 0px;
}

H3 {
	font-size : 12pt;
	font-weight : bold;	
	text-align : left;
	margin:4 0 2 0;
	padding: 4 0 2 0;
}

H4
{
	font-size : 12pt;
	font-weight : bold;
	padding: 0 8 0 8;
}

H5 {
	font-size : 12pt;
	font-weight : bold;	
	text-align : left;
	margin:2 0 2 0;
	padding: 2 0 2 0;
}

TD, P, A {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	margin:0px; 
	padding: 0px;
	margin-bottom:1pt;
	line-height: 150%;
}

TABLE,TBODY {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

DIV {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	margin:0in; 
	margin-bottom:1pt;
	line-height: 150%;
	_height: 0%;
}

DIV.coverart {
	overflow: hidden;
	float:left;
	margin:0px;
	height: auto;
}

DIV.covertext {
	overflow: hidden;
}

A {
	text-decoration: none;
}

.small {
	font-size : 5pt;
}

HR {
    border : 0;
    border-bottom:2px solid #cc9900;
}

TH {
    background : #ffcc66;
    font-size : 12pt;
    text-align : center;
    font-weight : bold;	
}

A:link, A:visited {
    color : #cc0000;
}

A:hover, A:selected {
    color : #EE3823;
}

DIV.nowplaying A
{
	font-size:11px;
	padding: 0 0 0 0  ! important;
	margin: 0 0 0 0 ! important;
	line-height: 100% ! important;
}

.linkbtn {
   font-size : 9pt;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: #EE3823;
   background-color : #e0c290;
   border-width : thin;
   border-style : outset;
   padding : 0em 0.3em 0em 0.3em;
}

A.linkbtn:visited {
   color: Black;
   text-decoration : none; 
}

A.linkbtn:link {
   color: Black;
   text-decoration : none; 
}

A.linkbtn:active {
   color: #EE3823;
   text-decoration : none; 
}

A.linkbtn:hover {
   color: #EE3823;
   text-decoration : none; 
}

.stdclick {
   font : 12px Arial; 
   color: Black;
   font-weight: bold;
   background-color : #d1b586;
   margin-bottom: 2px;
   margin-top: 2px;
}

DIV.menu2 .stdclick {
   font : 9px Arial; 
   color: Yellow;
   margin: 2 3 2 3;
}

DIV.menu2 .stdedit {
   margin: 2 3 2 3;
}

div#statusMessage form{
	padding-top: 7px;
}

.stdedit {
   font-family: Arial, Helvetica, sans-serif; 
   background-color : rgb(255,255,255); 
   padding : 1px;
   font-size:12px;
   background:#f3f3f3;
   margin-bottom: 2px;
   margin-top: 2px;
   color:#444;
   border-width : 1px; 
   border-style : inset; 
   border-color : Black; 
   height : 20px; 
}

.masthead
{
	margin:0px;
	padding: 5 8 5 8;
	background:#f8eabf;
	color : #663300;
	border-bottom:2px solid #ffcc66;
}

.faq
{
	padding: 0 8 0 8;
	margin:0px;
	margin-top: 8px;
}

.nowplaying
{
	margin:0px;
	padding:2 5 2 5;
	background:#c2a05b;
	color:white;
}

.label
{
	color: white ! important;
	border-bottom:1px solid #330000;
	margin:2 0 2 0;
	font-size:10px ! important;
}

.label2
{
	color:#330000;
	margin:2 0 2 0;
	font-size:10px ! important;
}

.button
{
	color:red! important;
	margin:2 0 2 0;
	font-size:10px ! important;
}

#grayrefresh
{
	display: none;
}

#gray
{
	display: none;
}

#standardrefresh
{
	display: none;
}

.darkbutton
{
	color:#f8eabf ! important;
	margin:2 0 2 0;
	font-size:10px ! important;
}

.songtitle
{
	margin:0px;
	color:#EE3823;
	font-size:12px;
	font-weight:bold;
	line-height: 100%;
}	

.artistname
{
	margin:0px;
	font-size:11px;
	font-weight:normal;
	color:white;
	line-height: 100%;
}

.list
{
	padding: 0 8 0 8;
	margin:0px;
	margin-top: 8px;
}

.playlist
{
	padding: 0 8 0 8;
	margin:0px;
	margin-top: 8px;
}

.listing, .listing2, .even, .odd
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #fcf2d4;
	color:#996600 ;
	padding-left: 1px;
	border-top:solid 2px #996633;
	border-bottom:solid 2px cc9966;
}

.searchHeader {
	margin-top: 20px;
}

img {
	border-style: none;
}

.listing A, .listing2 A, .odd A, .even A
{
	color : #663300 ! important;
	font-family: Arial, Helvetica, sans-serif;

}

#currentListItem
{
	background:#ffe580;
	border-top:solid 2px #EE3823;
	border-bottom:solid 2px #EE3823;
}

.listinghead
{
	background:#333;
	font-size: 11px;
	border-bottom:solid 1px #333;
	font-weight:bold;
	color:#999;
}

/* top of left frame*/
.menu1
{
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:3 8 3 8;
	background:#f8eabf;
	color:white;
}

/* top of right frame*/
.menu2
{
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:5 2 5 2;
	background:#d1b586;
	color:white;
}

div#statusMessage
{
	margin:0px;
	padding: 0 0 1 8;
	background:#999;
	color:white;
}

DIV.menu2 TABLE {
	border-collapse: collapse;
}

div#browsedbList {
	position: relative;
	clear: left;
	width: auto;
	height: auto;
}

div#browsedbHeader {
	margin-left:0px;
}

.browsedbListItem {
	position: relative;
	padding-right: 60px;
}

.browsedbControls {
	position: absolute;
	top: 0px;
	right: 4px;
}

.playlistControls {
	position: absolute;
	top: 0px;
	right: 4px;
}

.browsedbControls img, .playlistControls img {
	vertical-align: middle;
}

.pagebar {
	width: 100%;
	clear: left;
	position: relative;
	margin-left:2px;
	margin-top:5px;
}

#pageHeaderInfo {
	margin-left:2px;
	float: left;
}

.settingSection .prefHead {
	/* home menu list header */
	height: 13px;
	font-weight: bold;
	font-size: 12px;
}

.settingSection {
	position: relative;
	border-bottom:2px solid #bbb;
}

.prefDesc,.prefHead {
	padding-bottom: 5px;
}

.songInfo ul {
	/* the list of song info items */
	padding: 0px;
	list-style: none;
	margin: 8px;
}

.songInfo li {
	position: relative;
	padding-top: 5px;
	margin: 0px;
	clear: left;
}

.songInfoTitle {
	float: left;
	right: 0px;
	padding: 0px;
	width: 25%;
}

.songInfoText {
	right: 0px;
	padding: 0px;
	margin: 0px;
	width: 75%;
	margin-left: 25%;
}

.thumbnail {
	padding: 0px;
	text-align: center;
}

.artworkControls {
	padding: 0px;
	margin: 0px;
}

.artworkControls img {
	margin-left: 1px;
	padding-top: 6px;
}

.thumbwrap {
	display: inline-block;
	margin: 0px;
	padding-left: 4px;
	padding-right: 0px;
	padding-top: 10px;
}

.thumbwrap li {
	display: -moz-inline-box;  /* Moz */
	display: inline-block;  /* Op, Saf, IE \*/
	vertical-align: top;
	padding-right: 6px;
}

.thumbwrap a span {
	display: block;
	overflow: hidden;
}