BODY {
    font-size : 12px;
    background : #fcf2d4;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color : #663300;
    BORDER-RIGHT: 0px; 
    BORDER-TOP: 0px; 
    BORDER-LEFT: 0px; 
    BORDER-BOTTOM: 0px
}

H3 {
	font-size : 12pt;
	font-weight : bold;	
	text-align : left;
	margin:0in; 
	margin-bottom:0pt;	
}


TD, P, DIV, A {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size : 12px;
	margin:0in; 
	margin-bottom:1pt;
	line-height: 150%;
}

A {
	text-decoration: none;
}

.small {
	font-size : 5pt;
}

HR {
    border : 0;
    border-bottom:2px solid #cc9900;
}

TH {
    background : #ffcc66;
    font-size : 12pt;
    text-align : center;
    font-weight : bold;	
}

.odd {
    background : #444444;
}

.even {
    background : #ffcc66;
}

A:link, A:visited {
    color : #cc0000;
}

A:hover, A:selected {
    color : #EE3823;
}

.linkbtn {
   font-size : 9pt;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: #EE3823;
   background-color : #e0c290;
   border-width : thin;
   border-style : outset;
   padding : 0em 0.3em 0em 0.3em;
}

A.linkbtn:visited {
   color: Black;
   text-decoration : none; 
}

A.linkbtn:link {
   color: Black;
   text-decoration : none; 
}

A.linkbtn:active {
   color: #EE3823;
   text-decoration : none; 
}

A.linkbtn:hover {
   color: #EE3823;
   text-decoration : none; 
}

.stdclick {
   font : 12px Arial; 
   color: Black;
   font-weight: bold;
   background-color : #d1b586;  
}

.stdedit {
   font-family: Arial, Helvetica, sans-serif; 
   background-color : rgb(255,255,255); 
   padding : 1px;
   font-size:12px;
   background:#f3f3f3;
   color:#444;
   border-width : 1px; 
   border-style : inset; 
   border-color : Black; 
   height : 20px; 
}

.masthead
{
	margin:0px;
	padding: 5 8 5 8;
	background:#f8eabf;
	color:white;
	border-bottom:2px solid #ffcc66;
}

.nowplaying
{
	margin:0px;
	padding:2 5 2 5;
	background:#c2a05b;
	color:white;
}

.label
{
	color: white ! important;
	border-bottom:1px solid #330000;
	margin:2 0 2 0;
	font-size:10px ! important;
}

.label2
{
	color:#330000;
	margin:2 0 2 0;
	font-size:10px ! important;
}

.button
{
	color:red! important;
	margin:2 0 2 0;
	font-size:10px ! important;
}

#grayrefresh
{
	display: none;
}

#gray
{
	display: none;
}

#standardrefresh
{
	display: none;
}

.darkbutton
{
	color:#f8eabf ! important;
	margin:2 0 2 0;
	font-size:10px ! important;
}

.songtitle
{
	margin:0px;
	color:#EE3823;
	font-size:12px;
	font-weight:bold;
	line-height: 100%;
}	

.artistname
{
	margin:0px;
	font-size:11px;
	font-weight:normal;
	color:white;
	line-height: 100%;
}

.listing, .listing2, .even, .odd
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#996600 ;
	padding-left: 1px;
	margin-top:1px;
	margin-bottom:1px;
	border-top:solid 2px #996633;
	border-bottom:solid 2px cc9966;
}

img {
	border-style: none;
}

TD.listing A, TD.listing2 A
{
	color : #663300 ! important;
	font-family: Arial, Helvetica, sans-serif;

}

.listing2
{
	background:#ffe580;
	border-top:solid 2px #EE3823;
	border-bottom:solid 2px #EE3823;
}

.listinghead
{
	background:#333;
	font-size: 11px;
	border-bottom:solid 1px #333;
	font-weight:bold;
	color:#999;
}

/* top of left frame*/
.menu1
{
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:3 8 3 8;
	background:#f8eabf;
	color:white;
}

/* top of right frame*/
.menu2
{
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:4px;
	background:#d1b586;
	color:white;
}
