body {
	background-color: white;
	color: #333333;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

body.default {
	background-color: white;
}

body.custom {
	background-color: #666666;
}

a:hover, a:visited, a:active, a:link {
	text-decoration:none;
	color: #666666;
}

a:hover {
	color:#AAAA44;
}

body, table, input, select, p, li, a {
	font-family: Arial, Helvetica, sans-serif;
}

.itemtext {
	font-size: 26px;
	text-decoration: none;
}

.numbertext {
	font-size: 14px;
}

.actiontext {
	font-size: 14px;
}

.pagebartext {
	font-size: 26px;
}

.playingitemtext {
	font-size: 26px;
	font-weight: bold;
	color: #BB5544;
}

.normaltext {
	font-size: 20px;
}

.menutext {
	font-size: 18px;
	font-weight: bold;
	color: #888888;
}

.headertext {
	font-size: 26px;
}

.statusbartext {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
}

a.statusbartext {
	color: white;
}

a.statusbartext:hover {
	color:#AAAA44;
}
.smalltext {
	font-size: 14px;
}

.smallplayingitemtext {
	font-size: 12px;
	color: #BB5544;
}

.smallwhitetext {
	font-size: 14px;
	color: white;
}
.supertinytext {
	font-size: 12px;
}

.pagebarheadertext {
	font-size: 16px;
}

.logotext {
	font-size: 26px;
}

table.thinborder { 
	border: 1px solid black;
}
table.noborder { 
	border: none;
}

div#hidden {
	display: none;
}

tr.odd, td.odd {
	background-color: #d0d0d0;
}
tr.even, td.even {
	background-color: #FFFFFF;
}

div#page {
	width: 800px;
}

div#page_with_bar {
	width: 778px;
}
