BODY, TABLE, P, li, a {
    background-color: #333333;
    color: #cccccc;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
}

SELECT, INPUT {
    background-color: lightgrey;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
}
