* html, .scrollingPanel {
	overflow-x: hidden;
}

.browsedbControls {
	right: 25px;
}

.mouseOver .selector_bottomRight { 
	min-height: 24px;
	bottom: 0;
}

.mouseOver .selector_bottomLeft { 
	bottom: 0;
}


.itemWithCover { 
	height: 40px;
}