* html, .scrollingPanel {
	overflow-x: hidden;
}

.titlebox {
	top: 20px;
}

.browsedbControls {
	right: 25px;
}

.mouseOver .selector_bottomRight, 
.mouseOver .selector_topLeft { 
	height: 24px;
	bottom: 0;
}

.itemWithCover { 
	height: 40px;
}

/* IE6 is adding a pixel wide line below an element with bottom:0 */
.infoTab, #edge_bottom_left, #edge_bottom_right {
	bottom: -1px;
}
