* html, .scrollingPanel {
	overflow-x: hidden;
}

.browsedbControls {
	right: 25px;
}

.mouseOver .selector_bottomRight, 
.mouseOver .selector_topLeft { 
	height: 24px;
	bottom: 0;
}

.itemWithCover { 
	height: 40px;
}