BODY, TABLE, INPUT, SELECT, P, li, a {
	color: #444;
	font-size: 10px;
	font-family: sans-serif;
}

p, ol, ul, dl, dd, td, .stdclick, .stdedit, th, h5, a:active {
	color: #666;
}

pre, code, a:hover {
	color: #111;
}

th, h3, h4, h5 {
	font-weight: bold;
}

pre, code, h3 {
	font-size: 11px;
}

table, td, tr, form {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration:none;
}

img {
	border-style: none;
}