body, table, input, p, li, a, td, h4, select {
	font-size: 10px;
	font-family: sans-serif;
	color: #444;
}

h4 {
	font-weight: bold;
}

pre, code, h3 {
	font-size: 11px;
}

img {
	border: 0;
}

a {
	text-decoration:none;
}

table, td, tr, form, h4 {
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

.floater {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

ul {
	margin-top: 0px;
	margin-bottom: 10px;
}

small {
	font-family: sans-serif;
	font-size: 100%;
}

.mainMenuItem {
	padding: 2px;
}

.odd {
	background-color: #ffffff;
}

.even {
	background-color: #d0d0d0;
}

.searchHeader {
	background-color: #ececec;
	margin-top: 20px;
}

.browsedbListItem {
	position: relative;
	padding: 1px;
	padding-right: 65px;
}

.browsedbControls {
	position: absolute;
	top: 0px;
	right: 0px;
}

.settingSection {
	border-bottom: none;
	padding-bottom: 5px;
}

.prefHead, .groupHead {
	margin-bottom: 10px;
	background-color: #ececec;
	padding: 0px 1px 1px;
	font-weight: bold;
}


.songInfoTitle {
	float: left;
	padding: 0px;
	width: 25%;
}

.songInfoText {
	float: left;
	padding: 0px;
	width: 72%;
}

.songInfo {
	height: auto;
}

.songInfo ul {
	/* the list of song info items */
	background-color: #ffffff;
	padding: 0px;
	list-style: none;
	margin: 8px;
}

.songInfo li {
	clear: left;
}

.hitlist_list2 {
	width: 20px;
	text-align: center;
}

.hitlist_list3 {
	width: 50px;
	text-align: right;
	white-space: nowrap;
}

.hitlist_bar img {
	width:5px;
	height:15px;
}

.viewSelect
{
	white-space: nowrap;
}