body, table, input, p, li, a, td {
	font-size: 10px;
	font-family: sans-serif;
	color: #444;
}

pre, code, h3 {
	font-size: 11px;
}

a {
	text-decoration:none;
}

td {
	color: #666;
}

table, td, tr, form {
	padding: 0px;
	margin: 0px;
}

ul {
	margin-top: 0px;
	margin-bottom: 10px;
}

small {
	font-size: 100%;
	font-family: sans-serif;
}